image:
  repository: distrischooldevacr.azurecr.io/microservice-teacher-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-professores-dev-secrets"
  data:
    auth0-domain: AgASOwlyQx+jGvd/csVx2+C9yW8CXiLVjqKJkM2A9eaykKfg8i8pH5VqIpKMq9q5RZiqacLbPV+I7lSjmMbVJkvGya2vKRQEpfhf+msdLd9K5jbbvo2rCdqrMQbMKscYPSUJwGLMn1WJkesurXLa6sZ35cYRFwXKojutAEEsrSObGwSHvGjYYBKXwydvy0dUeatuAtBdZ9OTSS1rLO3Q6e8j9ijY/hSSZZNmo5n47wIJfvtvc8TPK8hvsZgWX6GD0I0QDMN2ir8xKI67ULGlzhOz/V66gj6Q49jEddpBXMX+0cn0ZnW9dQAH1Q/bfoMrfDqYEZBGzY+EGRmuN4aq+0/Hu8lVRQyZUoVP8i4d0jLkYcgfMy09PcktdwlzqI7cFw6le5m5pSp0Fe2agHXn2+LK1O03ut3wgLMsBRcG6Fam/qkHhbREoaDfuT7JGVAHT2EC4uG6nre3/zrex4V8hLEeINj6EHFDHlLjQhjSWHcVPwU7sdjEFdoS+sWIe8YEOeSTTB3QxXB0kalXPz+Ss+XKoHH4HqAzhpH4FrYIolmA2wLQqIw3+IXbLMsdg/dg9beAQgIGQg1Dok6uIXzybyn5WAEQngmdBWCP9w0Kmcz1ZYyFjB5pOSSx5+6ONx+z81AtmmKwMaFnLRaORfy9DTs6NRHQuHY545Sv9rw3JL+rudVSNfj7vNKdmqKjz0MBiehUVl7D4/parGjUbdafAtXP9Ym/pIEFbTFuyE/wRl5Choc=
    auth0-client-id: AgBGlouvmnQ0foOChaicpGwGq/5ocMGoPEuenw8uIXyi7PXt6pMva0d5pxa3C5nATUnEaKfwkLcHYv18E5MeH/VNWBsjMtruao1uuySllmS43YOmFf7kEWlqXepX+Lw7NWDmUf/deBpGScMclZVa013B5xEKlW6/KmRkjzLZZmUaD7pjwocN5I5TiIZFGwrSr3Qy0oQzHQIwyr22sF+LUsyBLZz0YDIrWIqXVKgdcsIx7adc3KW02tqECps+T3ybTvnZ5fkj470qglgFBGoe2eY+9ICaiYYDa+ar/ubG16rrZpqGmmL1v/5za+iKuZJ1ULDq0MchzmgabYLMLtUQ9pTI4tnbuEovqJ2b1xsPzbFqOjiONSgmBLENAzkqHXudF44la3j80Xcmtb4czp/Bivle02YtMAW1acVBFnrT8kiIYs5jgkDQ10DKtkNsU2J6XASprl5BMq74i1Njc7VyHP74komJ5gM5XlQFdYbgmMCpmgjduw6XSuqaddccPJkTfWHAcLM78dpa3wGrfRhFJxEXznE4hJYO7bXSwp858ko0hlgXxLkkadssiYndaViU7jrcbim3rw0HZjsIKeSyuWE63XgFXF2FXkuw2oCidRkf51KGvI5dDDtB/7aXFw3Am3nG0hJgZUT/yj47lDs7Ah9C4fpwzcUxdLIBJS6qqL7emFs1BqZiFtY38DrpuSjZvyBShROHphfaA7WWDoOg1uwYQVo9gEHdrmu4JYHywkbBAQ==
    auth0-client-secret: AgAI6roi54cZQqc1TPeFd0CK3/vM12OxfL+U7Y1kFv3babcV8uhe92huXs7/Fenk6ZdpI0MaTxuYagWOCsYBR+VA0avm6mwtNzj5K+1AsuRAUkXkEoxGicysanqufl02Gq981A7C8UMLf70zso/6/NDkhAVe+F9eaHMCIYoEVSmwjiP4V/EShmVOiDRFLI3IzsewN1dn1FW6NMDXNEC0bj2V9/JTCTlGLET+D3o9SsiZtl5UttnYH48g6M06mdAAGHFfSnccTTns0017Jmu5kBN9sme8Tihogygy2VkOhhjXPzbgGNJ7Z3k3eZgCcwuKp27PzuHdJYpwTWyxO/kUgUHvzSIfQ0ROpPlEmbZImR1/JZoOwI7CONojre/gvE3eCUOZads0pmINdDzszlWDKgdPi2WJtHHuJBFJIJHdRexTn+yLU1j9BEdnBw6tmvAr9vwQfmLhlelu2cakN90nCQOkODpCNcG44HX/k3SRTvDco7eEVoDTx/EhMcqug3kVghxo+1KRS74Fw+TUM1PCTDImac2nEVNVKGD8QCAKTs3NECc3ShsNAzxXAyrFAzUXeZWsbyHBVZNKffMclsdWQDJRK58o8+5g8al+cQZhNuykJM3YFcc76lvRBZYPFJC6Zaos+16dNRrBs8fZos3pRO7QYpgBc5Ia/3kfrkXIPswR2TwgXJZd+Ib2jVIDWzR9Viarg08HcZmw51MATPLL5hJ+OhhbIpYsbzESpo6iXJJhXiVM5r2ermw27jKxeUFRPP0pPGknTomJwyU00aNuXLKi
    auth0-audience: AgCTs28SCX7umKujPk/aQdnBV++jF3o9q3BODEhw1qJvQjZN2C9aT04dMEOa995JaIIJdBUwftcaWWLxeiYYKfVzm0nlit9QHpDhbiui8LYl4QrKAGkHUBPSOtBPTMzaXntnaIDJmCGtuYpFs8s+dXVWJ5Dij2MHI1JI94qWlvRL3rHS+2r/5XRD1M17RTCsYTmn3TLz7P1Tx2aanAGJMUaH0Zwk9W8l6oCzEgIr+cimamopg6gVrTZXAwQ9BYSeLoYgA5IhYdv1XO3GWAkKpAd/ARmcK60tB4/7JU7mY5Kwnlvz+OUfjz2ebxsOtC4tCt1iHebrYhFRLpYklkn0hvc8GXtzlhhoT1u8XlmI/bSjs4sc1PUxMiZFBUheFu5z+MiRYL7HeXcvinO0JyBIuh5l7GA9CUbN6Ow2BqaB3jRw0c/5O1KIYUmAJfLfT8iuMGOubtXvuVkA4jg6XFGc8ARfxazWRTM55YogHn5nEY4M15AU1iB/M6xUuOcRyfhGbzD1lJREchiGK+056rVl/vhKavnsMb7ETJRNy9dr18oVSnQzRbB/ZW4V3hFtxuGffMfVq1uh6SoB3oql8Lg9lRqwuFMJawW6Jg8TrWrkPiQXWeNuwld/vdDb5B12xI53AtB/yNH0CRTgPTm3Y/ec0mTfGVJ5K/sW4wU1xqCF1swZfsKUUR4BSmK0tJhApMx354AEOasHOHxzpDdFPPtg5ne0rXebJeXrWTCawHFz
    spring-datasource-url: AgCe3Aa1jqWMvEq3IqXokfCn0T3ELJFePpjAZJh4lnmrBvzXpsShi35sql5sNFtBcM8/yse32rthKqeSeYwGrG3AtC8U2tOYsW4jkXe0qvBvFmgbuPKOvcPhSQzcAOC8v4dd7c7Nf4hD3x6YSYjyRm/1AUfktCqrMnsNwh3vv8c9EwzVtvLymW1FP7xmyNR04OSEHV9fJeUTodqVOaIRmruDE/j3NxYmp4rLHzMUb+a2vgqZwi42CXJir1OVQ3/SCN8Q3HODwDCBo/wfEaWavmuWOjrjxNsHft9jkuKRHf08hjBtfS6iilYPBGu9HX9K2M4Z7kHpAHbCbxxse54PXvgWi550WoieQLnN6Ti0cQcFh+jb/7WmwnexLkWwSw3uPmlvtHJgORgH/0DRzaShd1OUMUsk2lqyXGfLovwvMGC+mB/5QfAH2P7q5uH+jFiItytlPOGfznM985yAR4IhLgRq7aYdeLODsrWrZjaMw3YSzUfEiPd50G1DWXSqFcTN0GKoFyQ5YbMbiExFgbDcGv3F/dbySpQXNtQOa8E+zPP1h6UGkqJosiuDqaDVONCe5I3sVFYsdH5LKdm1No5KUhXI3L/IA1isM4rC015bk9gFzgWbevqdthUAh/P2FcRMKs6SWVzTQR67zRXg4n+8vI898/RgqyUy2B6Gt2udjESbUG67ulthjJvkxZmmV0Dla7wMXD25QxQvBknQRf8wVGa5D1vYmzsX1VNth9O3Cl9lxBqf4+IdewSSEIKwlX1VlRamW+3fPfxnRAdWIw4qCFUjdDNeWHCZuTbIY+smvgiZDvUlYpvADIZJG0+VtA==
    spring-datasource-username: AgBrJ9GtP57g+jLNVsfAKZmVY9abRp/ABVI+tJfXr5Gewos0wk2Kfdf41jBo3zdbnzcpJrKEwnpFJGIpuEE07rnyByzht7d/vr3sDx1pHPZ8QZxZnXGrTH4Cmd86yfu0/KPuau8MiY2L35UL0VVnbr4hCnEBP7u1nbQeoXvCzFv/NpzJErh0KKXOqFM5mjhh4fW8x/PCs2XWsthUpF0w77TbQhXlXrh9NWVo++fqYOfFhEZFlgooZkjNPShNZp+u71m6jHu/6bvJsqv/oddJTKcYtyUAn2PwzmVtIrNay2D9JkMbeCHmQMoWD9HMGZvQUlGaQg6rHxi2IG6xeGO2865tHOl+g5qNNKGJ3KlNdZQMNmX3Jt8g+9Kqu7NGEFzjsPeajZD4AvosC7k764lJRYajecFie5PiGOIHl1iMzxuCALxOgxn8GlhQdsIMvuu9iWYA27c5RI+PJCgmnlxuyqgXQ2TtgwkcKufhLRWrod+QGIIUuTnZW2jETzCxjsRS306LNLqjkopCmKNaI8DM8ljJg6ex7+pgcFkS1hkRrGCAPMQkHHSP6ZvVJOXQ8UTdp1ObLM3Bopt6IyFbAqvKdmcabXrpw9MnuPVV8FYrwUZUcFsjpPjf1jeiUDBoE/K1aeCekkySfSH4qg+f3Az0iVIFM33fAmdEtd3ZC2Dwu1kq2g0qIScx7/jW3Oz9R2JANjKl31C2HarZV3ZMjBE=
    spring-datasource-password: AgBa5vq/vB6R8EIo2IIGEKD2vX5xRlE1kA8bLufngadcaNb0cv997w/Z4B5HNwpVntJ1TarmRWP0NQv8tMzN7V1w3v1mSVYKj7FK2FIhHwfOeHe7aaC3J4zmApzU6cxmj0bIslF2jF6u2BmuDq3PwL1oP8Jn1AKCMsYS3hrYlIzlAk29A0nGGla3Mkt2TZ8+yXZCHHoed4QVksqPUD6tK814JjSarcI90JC9AV4Bo+/BnbHnNfn+5pnRidCJViVjHHEc3/v+OeWFIxS6CBAEfH23D4lWpahsixUsTbPbdKHByR8XseWCwuqlO0hCv6O+88TKg8UvOv7ZN2Um3ro3hx1lokKwbw/8r1AU30uFn+eY4AGvOe2TatrH0XHV+VCD/ugBoMETSdxnPvYDHiwMsDhDxubNYpG+M+omI7fGd/z3xNYmTtS8ZstW/q3NJqa221gJrjG/HLXRzPjx0ViqSc7hbLHNb12wRlT9+dk1skz6qJz2blS9kfabbdiLnXiHftG1xlhWDkjeemTwagv+ZQtb6/wT84MPPjk6LWR4W1jSzOCELZ2f5OqW+TKn0yedon5Z7/Y29iEt2IKJjKzY9ZAYkBvcer8tfc/acXBSYIDB2UOEfJ4KwOPBy1aAkwJ7uxbB86mwmbMKEecH1FyWs9o/sLca9OpL+neXBNkyzy0oLvcirYJcyUspIx1p1mp2XEC8cHnNqhxute1F5qpRWgUx
ingress:
  enabled: false
  className: ""
  hosts: []

