image:
  repository: distrischooldevacr.azurecr.io/microservice-teacher-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-professores-dev-secrets"
  data:
    auth0-domain: AgCEtQK4zjJRbuOhhBSE/MtepbSCrDTIdUDFHDEkLahQXLVlPqOPl+CA70Oy7ecFzQo/aIITs/f1tlobz6Dfp5g3I1JWb1qunRYqzaCT9Cf+SlmtCDvzodwQBHs4Pq1EcWfEK9Ua38ukotH37WGNBhKvKOWQUxxgbNCFDLph8dTxkDuAPqRf4kvpOqTvhhSiYkrvWvB6O52unZEJKz+RZFcAUoGtAI4TQLgvavy+hVLFWgIpAccbjU7eKG8BwZVlwqSmc5Gv5W1ZjukvsSOVTpnkguOhh/Ahe2ckSjO9mUbXAw78fhJQ9nGdLYgxi1ReidnUTaCETAKl4n8N3FTdDVsfTLxXkGJf2ABa9aFR7PshRnK+PhOaHkq8v2W8+mtZgNOrcvOMfHR/FEdxvKvA8V3FO5lL16/gxBRkQJJPxedAJTqUhJGHNmGi0knAIonFDLFWCXM5oJ05wLwZj8bPo0FGARISQWo7mYea3NIITYC6oEJrHMo36n1nQGTQAZAuJwg38IGzoDFjTHN36Lt05Z9m+hcQ2ORr5AwS/ev74uKBdpkasbb1E0TloDoj8BQ9s2rs+Qn2TtsN74RdpRX+ZyWh0ICIUVUU775OgyYQTnuW8Q9LXrC1ORoUHrHWdCfpk3Qf6tmk+/X1b5TmZzuC2ixP8/3atl7dbx2KmMbD2qqYZHODfG2rn2og6YUmKyNeBt/fuUSqUOTfH4pqMIiNVyHXJ+i8WH0RdmxCeBicFIXk1Hg=
    auth0-client-id: AgAtTImscSBAXIIzqoiL+iAveM/yqMJIr06LBg7qwXEWGcJfutVt6uEOsg4KrkRJHxHnvSdLHtwed3pNDBwSY5vHJcQapdNND45Y5XBwd3YqgOroYToKK+vS69cShWaqn2rmW93zkURed3L7rNWHrMxpysSxUlBFixohvEGTeMKX2mvLHKG9AkJOk7Sx/oM+o9QbGTPillPLWhYVlSMU78QJh0oup6sHqrc3lU5tQE1Nt2z4nyeuT7G0UOL0TgqV9X2K1Blqr5prkzfSgi1dsTBG5j2MUoS2aW+Mu14i5XVlVqmoQsUtg6Wapv6hPw+NwMMD5Jec81dFERlmBIixBZyl20Yip+5fMsO5uTQk9TGgFjU3OEA9kqVS8u2oLrwFGU2BCbUZDnJ2RkK+dODmdSDV21/C8DhmiAdz8DoVaIu7DaTjJHWj/dvgzB1bPhx0bUo+jBlrAI8SgDREBoeeGQ1hIr7mwZfXzDJvsIcuOrxaJp7vHD2ZVte4HTkLiL7R9jQowU/xMlSgWa+bHrMHcOeVxbvjGzc1o9ZDGm+iYSVVd9TtBqZk633TjYRwOfLAGQiMIHkoJphQ66Ed38rBfZ1wYuY6gZ9Bx8a6Rocl3FnX0G+IyM823+OIAEvjC078nh6Q1bOTKR+RvODF6FBy2FoKL/34jCx1rMlahV+xpoEgOVa/QVuLH+OVMVsVSS8MijEO3hsZvjwNZzqUhSywJm8RzMe1/fAgHhco6cYao00+3Q==
    auth0-client-secret: AgAI2IxTEqFolGBELM3pmnlCe9c+k8aBTSAfrz7I1QY0SxywIhOwZWpzhBaDL58o/dOvKmygjJzF7cthiz4//wVF84+uFPwY2HlbMI4aSwzRBzsybenewmZShLibWDlhcgW5TxNDcgHg0w4ih/ftAShsNmtv+X7eOiqQ0hBBNTyiQQWVYuF8Y0g3tdU280vXKL/o68hHNAH5CEe1hYHH4sudHbq1df99ZkXSg9HovEVquLocZiXrdmIcg4MVg3dZ9bg+I7C8XplbiFhy50MuUdZVnWTRMytjmDmoOE73VtLPmxAgoVVFJ6NEZCjsMLhrgtxyMFVjp0V6Xhnwt5+aE42AmiITGaJjRfeLip33AKc2GaSYrAJzQ4eibx5/0WTAyAMjahB7qVjSs0qnVVlL/3on+zqmSZiNyyoxb+lZeWdbW2y2dno9K84WO7GndqoPJjPPGEBay7UjeT3ewrxdpb0dm1wxTw1yFWIbZR8F8e7zBI66VUEF+9EaDSxKU6Bpi1zPP2puoJGXMPc+XnglXLUlULFsSYKT2rrG00Ok8ezrxS92UX+qFWus/OQVyBs9sE9H2pRUn/OolcagV4pydqogbu1aWFxMZQYYGg+FtXI+mzM+fzNQcLSp9iQ8zS0AQQCRbh0LVcEKGdHRvZ3Mo0tC6zjh/6DR9HVEOZ9eqcES753/f4gyb0Y0LGhFG9fgcEtgGM0nTwSSDN+jnFfps/YyR1NdnKEZ85poVn0Q1zEShN3Y0y8pdASPJbxr8UsAdkVDfcpJysZfZbPLY3mNnDUw
    auth0-audience: AgCW/I5DHsH402mzqHfu6Hgklveaqf4VyxRim63v3z2h8OXFjVRfUUwKF+0CzBZTUKncMJeaGgcqzZHpNA+UZEwBznLEYn0dEi7q0/yAYDZ2SdtaV9M0aP27qoRUkWBNTRdZRTaxUtAyk0ptaouWSdPedQTHmJOTSzkMHQzQjONkQoLQACyuItqsP1LZTnJxVakGkiDkOgKi8FgSTIH67ETHdgvnJ20Mb7O8PHiUoHpBbOn7hSocoCJsnzlfHzv+PJ/AL5ldeZ0GWgVoNlVXx8KmgtPoGHKPHoU9GH2LofS3BRVxS26gdRcoEU0ojbmO5S+JzsPqM/vw7Q1yzLEsL7WdgBRkdn9Znm/QzfP/IBOg0NwpIxAp8s6ePdQ6iGY43rrTcnqzYKaYlyD2BPr/Ve3eY4BSva3XomW79/YbEalpi23xCOuUnGWSoSXR7LrZomllTsjaPlIvsfaUL3A4ZP3MCjhc6ytRoltLg5sdlzL04DU4J6ktV2as/V0v6tFw5cGwJEGkGNUyhxbP0V++o1c8H17lUMEdwT35W18CjFFWXx+cs4LQ+zBhaqnxlB0RCUAe+fDdhBuN15qw4ZdECI2kWan2qB5hV0WfgCOxPh07ducI8qBx8CqaKSUDAXd/Vj8Lvm45rvxP9fg93+9hIzSzrOUAJ6k9nH+FLKI9vsKv7Zndfllp1h1YYNwyr+3T3aXKgyDwo4/PuJsd+18Fk6B3mT1sM9KDuAjUUBRI
    spring-datasource-url: AgB9jnLNgqwoTjYCViVUkBhAbmyFa8lhjqvKa4d8IS34Y7pO49Y5BNzXkiRlktxJas+apUadp4eXszpcybqQv+TuNntNyhikEpDY14XhkknIp+N7YLy8VvNLj9Nn9qSFcvUd90jFhgBZmne/t7YwuXhmZfTTpprKezuSzMdLU67Ua78VnLzUBdVJbyzgvcwBbqoXfqh23utXMvWtTESNNbCx32yOxs9sxoual083WNKiSj1vZZrx9iYqxBspD41Xf7ocMA6uqfyXrI3+yxHlGwwBZjnGmBv/xaWQJ6AZHHbb2aVtrF7SM/qql1DjBuZOWD6PZjPQA65w5i7I5S4JtVuAQlN+MX+z/jHtD8jCJSAr03maOVZFQqrUX0r5yylyXUbkYMuvtM+sLdWBpLOOGTzzhHsTSZk/VHCcnKaTp87B09Z6GiCS1b8rvLqBWYCLdmdApq7i8BlAcgVuP4zBKZOv4Cg+EsOXMgj3sv734S5AsUGZ/aZ31gRtggbIk+zDkxAz5TiYtmYe/4RXp2S7NkaqepOltJ5fh/7Ft4gauVSDU+p+wMVVPMLf1Y/UnT64cLZRiXmG72SGG1CiqHpt2mZ4yJJB3GAM3qLSVgI/35kf7kOQCZJ3Eg0cmGi2hdw3V+IOZ1s4MGYVpO4u05iVOgqjOgfhOSk9hZXkSv9N98Mx1cne3m6XNE3gDgPng3y7e9NGShN7ofN0zQKGHc5lLrq5ZJByyzMXzU4Rz1wyP6Be28/JZ8bXeabQEjujsy4Nyz1htxidhqK79fjr5Ip8A1quKBbmQyb6hUaghkDkd0CGM2hk3K3rnN3w1JvC+Q==
    spring-datasource-username: AgBZfa3n1tp8bOVEl+43duTQZk3T+Csuk3rgRwRcXy3hkp/AJa/iTtCpmVbgKY0oHhtCvlIPHOPYlW9HPITdrvZprHWgmXXIPdl0PBl8Ut9c5wor04hn40gPXCJwvlP+sbiWNQ/C/yyXjfcCbinK4pyT6P42C65cDER2YIbbJ4KsAFGZ4CnjYJ1SR3WrOOHexYAn+YZpUWcg9D7qCCvd49xmVuZ0qZhTH7dAYRmoKeAs8et4UsyC1YYRY91Zsg7HlItgqDxm/fj6QXEoR1gZkc0jE7zU4zGZm2vFZ6ZXdi4bqzV4dskdQGRzmMkbbq2VbFuqrmYgDH81dIJRAfdQFhVt4S3xpUq7gtJEkAOayDJZ7J1OwNmLK17MrKb66cKFDs8WD0tNIGP8vaDMdrI2RrYwI9rnfTTezNyPj6/voSnGuY96nyEEAUAVDYkrui1+JSE/3wZazNkviusUPbWL2AN+aBjAhmYHMpAomsxJCzHta5IuOZRSUi1aFnjqzz31UtwKjFuNwfnQNujblwwHfzAccYqb9jA/H2ExND54LnIQTOK6paAcHJGFXGLAFnqOCtutTDigv0kcswEHOVV7Hk5kw8w0cqNziioCJ3zMy8GmdPBo405fkhkqgOfc8cscVAjjFyzooiLJPO8UzLgxqa5DlQbkqiq0rGcAyhsnc45YQaRIXrmeBzF08mT3Fikc/RBTjx4YUhIOImYhA0k=
    spring-datasource-password: AgCTLpwSs5VY1I3HyoCSkbL/2bU1sJz3FXbdyBsYliL+YwQU3IRH69n360sIgp3fWA91cJ1mMpR/AmjbG5PVtexH2LbZx2z7cFjf6NzGJpsi3aMm31f4kQBBoNGr17uIEFcCm4Ze8svlBg4swyyIwN1XDTLWg+PuAvYTrifAYDqH6VD6Uubw99IVVNxwePo5kOagln8lWbABhxngwswVqxlsYijK9Xjg5XMetfwgmBD4VbENDnRFscZ55P0ZYmAXln+mylSCXmA8uUdyIYXqSP7lx/SKK0arWm1io1jcHTH21vOKdprFwn7szeB/0xCb3See9kjetOhRpIAe4xlBpIx7Ihl97PPgv/sZ5Kyo2m12WRhUSpzAlJm1DnYQYWBkuk9DOf03oFENyreSXlPNY27+FWbZtySwoDqqX05w9x02CJTpUEPY59i08GKE9NQLdiIZtVOU1tTMCRvicMBNg/Y5qRcZ3LvW4G0pXvlHvpnJgmEWq9KLJUAJV69zjGbyOnlxWFIKerwz4szxIp7wA+Sv7RmXLnkYKCSTa/4WkB1x0bCE34/IHfHGuTsOZynVn7bWZhejSdjsrHzz2QH4oqDCF7pL7DCUQ8MEXxJl71ONqGG4pHBiuIxNiZQQbV4/Mo7pWm2Z88wf92L3FDJFCKV9kx09w/vNEN1Ji3XbiuJa2LIc4gp/+4yoVBZ9PmVG8n+jYBpkfCiHuiCYJDmSGdj+

ingress:
  enabled: false
  className: ""
  hosts: []

