image:
  repository: distrischooldevacr.azurecr.io/microservice-student-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-alunos-dev-secrets"
  data:
    auth0-domain: AgAN2Ci1h9YLKxmXKcVrCZABF0Qqw0YjBfisjZwa8fsAeANxG8oit6IqamWoITkl3e+exqldInaWjbwCgowMxvcJX12/wRdDnp0zMV3ruu3Mh1yT9s++7TMQeQ5alUENteyiGUwjxYkOX2wSV/TUiCwZPiQsCejpMEx54ldZMtEU0fpryBPKaN4XsBfJHMSorz4ieDfg8U6xV4GT/JOldrYLIEUBFVm2gBmKSbW74D4+J/QmeML+7lZtD32+i0mkdH1SQDTn+tcVbRvVEi5t1b4/5tXizLvCXYdSs4Qyy3sATcY9MwSr4efzKlapMVt4IbgC8TPkqnXvtJ/o5iiWR1zHZRKOXfjmX+yGJ564zgC7gtp98Jk1QLbEbzbQfggQthEMoE/uvLqDg34X2/vzWKcNvB7gJRH3wfTJAOCjl3n+BjsJhM0bA6zSHXvEumDmIRXeym6HZZTi2AprFkr0bb5+RF1eFizAhri0HLWHN1cygT4YVTh0h8RcQ6XYt4BxmjTxjhggabt1MNdRRAh0SfrLqf4hKldLjc/o54ZA4ipF1ScnpOZ2rqoQafa5+ILE5F2B6YKhlusq03YBXU2OFUjp+Xn6VavZrwEqSmC0cAE7fdokexAB06qUUaHF68Ytvw1G4AJzJuh53hAbOV1UfJSWEGSg8hI2gA0F8nC7nguTSR0zuH6pOaRP+lqH2gzUuAbZ0MMpTBHcGbxBotF2sTyVMWS096TGnmXBkDcoeL5x3J4=
    auth0-client-id: AgAoEEeVwco9Cyr9GnjanduMwEABD4a7Y8W722HmBbvPHyBoFe0aHBnJDJrh7p8nzDRjqaFEokC162gbhd9Z0acC/tsV0zs/5uwIeGig5BIpwesoGboiSpNbXi17jUi5Xlop5yijcbDNzTSlBtawlr5jZdV1w8XGYAC9Gn9rrtfxiUlWdVoeB/ceVRf5YfCFNKLruzq1KKFWIPoFNYcBBF9/Pr/96zLM+uPITXudpYhbZyAXisS9m7n1PWPN6SNgS92cyp8BKwA+RchaxCsZMGD6mZwkQ7iyfSnGXPld/J2TRz+IrOaQxIapJCmNeh1QLaMsxzhE/H5NZUeXFzggv6ebeoUHThZ07ZnYNBUM00xd288Jg/EVzDzqPtNi8H/yQi9zGcZyvEig4RXPLFexBSSw9TK7zpyilJCmUreQ8sFxGj5FG0+9uSZjJnjhD3R0J3vNp2yKsaIHB5oxYezI/AkJ6YcpIbuC55zIXim7FuExyJcEf+6WB4K0Zm9J1Mj3ZG8lQ0AMdoG+0aGbUDmO0v3MqA4RmxPsKG1HQDG+PLVhOb/lKdlY0XNW6vNmFjPyF0PD52HOWFQKoY1D/yd5AlOD4JCKDsKvUF5yKrXNWBnsLPVHNpkIj36e1/AikrZaQ0vr5Bh+okObkhwZg5WqmXEv5gGDycbv1k69z0fR7SYJki1D/P4gtG3NZk4QfwlU0oiR+8n1VbURPEUdXks/2JzcpmnMHZ1u/5a5Y2ukIvRU3Q==
    auth0-client-secret: AgCi6o+kVQh7J73/JxHcKqWS2fl25mkuUr94FFTePYnlQjw3p5jSBbePCUZMcfuw5Mu0oZbOWFgcW5aYBd2xXOXU+8elT6N/MZRzHx0tdM7sV9JMlgA6Bz+SZ8iCcEybbXW2HJY4S/qriATxBwUtitR611U56yvD0XoJB5peXRRwO1k+gkBZyj68K7+u2o9K4h164lVdx0h06DqmCFjmDgP0Hts8B92uLga+PxDJuSPiJuD2ehdIWhGybfwjsnld9PhDoiU0cetjSuUhd7WAAVsxk0fg85d8ZzMu6z8fOOGIbwnvy0fZsS0J2qUhGt3jTtW9lkgMRWVIR4OIm4fbVPVUP21d3pAn9YZ6US/gj63ufDiInv89yk+kQz+r3Z4gzdXpaStije7Pv1UoM+RRa3x3knvXXH5FpqTeJCYFEvxjiSTReHJtgH6IrkODf9WscD4vdyxa2Pabqi4IRuiOXFV4ee15trogApXKRZ89mVS3XPmDK0mDMzKNTPdBE9d6E00nPZLWKr2jIJGMYpKeMIwl7iJMZdKEUoIc2nfDWBcxcjhNBoFQmrsub0PrL0mJ9lbBlxDFZRrazOlBjTcQTyzkd4w0B0eRHIO/NsdZfFDmkanuc5egtvEjgHcOLzF38n+d/LjrkUcNzqGMpwiz2qucQUcfwaFwfNKRmtLPqvMU0+6MJtfk1jtUU6amuJHsSjsjmrg/10ibxXJbn4WRDcvoGm2kGF5AolFfHSVkq7kX2ZAjATIazQ14ZNS9CGSFB9Ru0OzTKguWEc1nPF7QsneO
    auth0-audience: AgBnHTy77gwwm6DDOMEgTsdEDLCBxgZQBZGYwjExEk+tRXhKDWD+24MSb2cow08hkv71iNbtSxVMndXyobTHhynN+wVoqwSYL4BIvo85jjioAW3NmpYixq3A1VFWaUUp1rv6bdqNO5IQYN4S2uG/aAWKWlPjaEju/U16Iou4pe194kikTvFt90qPpNcfy0N7/4G+B4w8mCPyEMs12OCEtup8fvQAbBN5+4gbT7UParLmQDRrEan5CZeAZRnD23CPlq0DEWOIrA4gMCDP521TcVZlxfZuDwQ2YnCdEeMM38PiQeCualKiSfoogmz7/Mv8X20hoWzeD14uqVzMmC6xDGtUf+riyrnFspdeThVOcOhW1LBsidqTUrVkzqDWqhDGiSfcQpAQuHric5Hb4l/Ggk9MltfOijnCdWL1ER+ZNXST7zKScJMtRouncJSrNVRKlCkLwpiZCyzeSqLY3vebJdcyuz6VXvOW2XDnwk8SPTzhcWQlXwkQeDpZF5RHCWTUU13UYb0g0qmZ4xxDAk5j7pbbJG18T+A1SvQG8Z10B0gXAxq6EhRHOGdzXr8NoRH2MI9yCGOYKZE99KcIcxX7Pc5dvrWe9+6YqHckED1Lp3VWNL4ZWC4wjg+l7rgXmNTzCRzJXAae0WqoM+Xm6Cyyi5V3IzZWMM7dxHp0YKXDXhohgr60jJ77s0F85J9VHPiLjMOxPzhNfrTbxOb1SS9GYBrVUhZiYf3d1HKvoYlV
    spring-datasource-url: AgAS4EcBcXngSjmwMmfNPbsWVYjBtScU6aMecSt9RVsQpxWbLzOGaGxBwdebEZzGEtPC4Fnftlf0Wv59pEpyap4J2uwggimvp1uOaQQu3Sx60gqEt7Ap86FfsTIkRQmej3ZJbzdYWXNAkP1QTTvQJN1AqiBotYBNyGgaGvcRrscwd+7tsd3DboLKCv42oCeNFZ59Qpp00OP35HvGSCyPj+yySLgEzK/hSqLGZYMVc+PTIIzvMR/i1eXepjGPXkgQdgKQSEuOI6/GncSO8/MyvDQOSbgXnCbQ1EKOzQIi79liAO3AjsU1OsLpDP6+hHJqbLnGJufyYJDkxnm1191Pr32t50Nn5nIN/rf66lWNRz+ZJNaCSyT2o2qedyOEee+fdBI6OftYQr2T1dZ+3PAsBF7aLhrYa/0opyjR8tfhOtwxIo6r0e4i4SeAITd550BugIuiEY0jFe6T8ysQH10sXfJacN1RvYRYT3MIhhWultQty91ellVRPIZlx3jmEeA4HA5qUPXIJca5nWB2Xrfa7tyNe2zLbuWHBfNEbwjwcMsWUeGjrV0NrCPk3Fj3uHnFzyBU/zB5lGa1QoHQ7LCbFfjBIogBOodJeixdR9yeVedU2POrs4geUk23tKapiX5LHRGTzneKtsvLkv0T9oD1f+iyB3HUEUMOCZpGIaYNmpSXFmud3+Jr6UyxshueTrjTy+wTdFwBZMHVFWDCKEPl21+xC2Kd1+wgUreGaciMLShR1+SflHzdQFgnTF0NPE8xYNm46PrChqr/GLJW/L77kksEr29K+ho0ba5ToW2qPNvKwMtn8uo7AkayG08aBg==
    spring-datasource-username: AgAZVS6xdP1SNF418CQmuH/NrC9VKfdnnYyKEeb+n2q+ueaOcUC9khm5F7eBTgg4lgHVWoajS4aRbyawRwrmzc8fg/GGfvPginpXKvRmUXdTNLYralJ6Mq1fyeXakftjYF0IJKKE1tVlmTnyFj5tPsU0qwwg2EhIFP/GE3uQmcaYj3AxVyV4QVc2OXwyV7cFxqod02qIaYhefRvNHFNxFLpBmbsiSNZrAnLU//Fm7qpQEdEcfm/mFlFPGo8aGGzctsfAzafq6eGq4iZf9r6cE0qym8n+JeW4Rh/sVcFBLOuoGSaotNN7veNW3fJluxLUCIZQid84sh55j6hnoUQ7ZlKm4xmZajTSrbwJEGZbfZcEwBntAU0QFbG9NE8+Stp5LkSfJYmYnIXwoYNLP6GTM3DOzrHRmgf0ZwCLpTnT3kaR9Mf81UPgvhLH96KoWSwQ6WBvd87Q2K/AtKyzDGrp3HGfpY7zdT6VK7Ch0Q+h9DWZYOKVwf89MdD69VkhRHp8D6NBmJXa7sZlPNO8hhUZaM3VnbA1wcsQLSmGN6dpD37fywk4AY8IIQjIkUb+wdMXfH7QFmTXhX/BKtskeBcyCCULFKiHkhc3I9MHHUtyc8jzJuQ81kdH6aAzMeZMqteCmMouUospihWrGFke0crMMBweRyxi/zVGH3vPKswM8FptL+fAqJq8PM5W1gSVroleqyMeB+58sjMeyYBP/7E=
    spring-datasource-password: AgAPYlCGj5PwosxQspryE2ES+85KsHINzQGeT/W815F/QqHpHvyOGD/WXOhXzqR1IzVEClg3r+uLTEDK2rzwJ2Nw273GyEIedy+355C0KYPbHm/u9T9r1ATVgIOVDq01i0R2EULTusKmgy+CreVc0MocOVhylf2cRyRrQpiHRGxeVSqFxozoK9U15RVckMe63GpJNzg3zK48zCE/EhJd77mMJulj6UooMVQITybyqwPuRHflI41RQ2fkB9AXEzJJIc4zH9itVPOcYANTA9iqWXiFuCOGw+QFb97oaDsa0mJ3Lv9ku7pWoR3O3gEHzpneoW22GGbe8U6m3gPNfMIFnZqMfOxJzomtyvjnspyc1+vgd5BxlB5Y+WZT3HLTl9s1sgqAgR3oZZ5tEeeyPmbkikqyqzPhFAApMjtrlu0hPMhs6GgMSmMaNGVsjvv75sUtly8i6NF0YmoXU9mrPw1AeR8bFt6kP3Fc8rbSQwepfxuZaFYs825iDcyOxUcQ9lyC7cXl4PzibSGFZkI2bhMNAyWK0jpdkMCrodPgydISvhCq6cJKp7WTV48H3p/vXf2S35PET12Rbjfqqv4oHbsiYD4eSbWivYdNrZCQKEBEjZRbyN1/BIFH8K46vjaqLakrsUOR3pWlVBTzkDm1fH/SBkHcNRxyLmTHDTShyAyAceZytfTG6mVsZ5kQ2JY3S0yw7Xl/gVHrKVL6u+px/PfW7Tcu

ingress:
  enabled: false
  className: ""
  hosts: []

