image:
  repository: distrischooldevacr.azurecr.io/notifications-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 300m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SERVER_PORT
    value: "8080"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_REPAIR_ON_MIGRATE
    value: "true"
  - name: SPRING_FLYWAY_OUT_OF_ORDER
    value: "true"
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SPRING_KAFKA_PRODUCER_COMPRESSION_TYPE
    value: "none"
  - name: SPRING_KAFKA_CONSUMER_PROPERTIES_AUTO_OFFSET_RESET
    value: "earliest"
  - name: SPRING_KAFKA_CONSUMER_PROPERTIES_ENABLE_AUTO_COMMIT
    value: "true"
  - name: SPRING_KAFKA_CONSUMER_PROPERTIES_FETCH_MIN_BYTES
    value: "1"

secrets:
  enabled: false
  secretName: "notifications-management-service-dev-secrets"

ingress:
  enabled: false
  className: ""
  hosts: []

probe:
  startup:
    enabled: false
  liveness:
    enabled: false
  readiness:
    enabled: false

