image:
  repository: distrischooldevacr.azurecr.io/microservice-student-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-alunos-dev-secrets"
  data:
    auth0-domain: AgAM+R2kxvTXpkhIw92RiA9lmYLvzsl0TyVTzcwWkPgUk9Rkvj969ik/3LiodrhcmZAflKm6MZx6ruXgMe6pk6CbmwMG5Hd0XJgu11UvZGvGA8+2b7RV1qylY03nqRvR1WMvMbhR7wF9UT7T/TLqlQOxfpqNaZ1FHBt62RJx6RCtwheJsdATV6Vy4y4BXhNDqTVPeE7P/RwccMS911R3IXUWGTu/MfGVys4uoD/601CdAZPEkjMsJTs//DcLltLzdqTqePdgkbSEElfZILViBxzyoVtN/oti84W6dITlmWZkgyIzZkbCdAJRdPwe6VZs1D/9QyakU3H9rcaH1Akdjt6m26OBtiri7DS3KPatwKzYbDiJmcAXGFMP/68nHTSHT0YyVHAvNyfAMbZm56TRo0Yx2AdDngBPLwOmOHF8sp+9iV1jECmEZuC+dAyefhTPALbWt7WoT0WT4E73eL8+A6ALA7W4VOTLhrP+5y0OcEFY35aNZQRu7CH3D2TF9Dr0GtezEeS5D5J6jGfjPLYV3ZNIEHj0wR5i23Y/ttxJh7ndKFuhxLk31aYZqZm1iGBFemoFVVpsGaDWP2/i9p3lLJanXNRFimXpCSzDIO+yjE+6kFJ9opCXS62KKTxautGWNgGWZ0IrRoIetiyCvumNF+reXTMPZMpE3ot3rJ/bEMDMG6eG0wPWQric85MfE359ol+5Hcbso9O9vfqn9diyxIrHJRYwGcS3AOwiMmkJuS1Ohxg=
    auth0-client-id: AgA1YHmuvhZyAs9d4Uvwn3liBDjrcoSHlvSa3geLDRslfLp6eyf3wyrjnsf0Cxym5wovyARqqryMPUkdz43FlvoZQzay5cbGJJ32fB5/nVi1RA0bkUGDOSlnSZ5MjSyNvI9nv0JGm2XTwGbAER6y3MbbjFb1d3z/0R7/TOmgcaoEFdn31AISa5reJ+W+YkyhlW1s4FD0xXpfw8AuOh6wkkceXn7fVnP5w7CkFuKNkUsceF0ZFWpD8SCvIyvcfYAYMrlLf2iFFtPytom4S1ABKTBFv7d2heKa3pwgq2naggkmxv5h7iM8viRWhCIKgdVpdg69setI8/nlaJRovhTg3q++9kdm2Nev8uTl3RLFPaYPtINw4oVayZhCE0PYjmOyo8uH0u0YgGz3/yLH1fJgEYZsyRpea/j+ApkaSHkF6g+Q0GFitGeV9z6R2nM8GFLpvKFtcswzZEuq2AdYuTse8TS/56eiyVFktzFnX/0WsKSZ8AyfxtA8E33DegCqNUXyB+/gLTnVdtw9bjzjwsfxKy9tHoLY86jPzlUiUaL7eea3xKBtp+MmuG7Q8Q8Kakxb4l42zwJUT+CDsDUrNAZ+KqwoLVDtmlV+wb5MaqbB1DxwbaD6vAYxtEtMxZ0EFeCiCLsuHK4VTUjD2qX0QUY1dulzPDWt3RuvjfdJeGUAN6oudWdBfNF3ZHovec3vWEmFYRahbUZk+MmtkOODT5UOnftR1fOo1w+YgDegGMJTS8g+xg==
    auth0-client-secret: AgB68CK9RwSXbQBa6iuHOtYo3Ufl0dl8ZpXZZRNhr7s0oBxyT+IgNjRoC3vXas3c2uXpRBwEjFZfIryGrCBwpmF1DULrxvxZAyQL/07eRP9nLVkXVfyVnlHv492tXYmVZbkrAv7GCKb4A8Y4fzFRPi5mi3jU/ZvVz6PYSyzYl4vGee4rbiXAMg1nR2kKc0ZZmrVjd0pGzTTN3jFGf2+JgZp20FkNBCYiEzk8sZtgMTLOOW2sGDLiTjzTiDnu6hySbfD6CAGAo9slOGfd+M4ipmwQq0J6PdKflDqGFZV4+8qqn2TAe7txYRySscbqfTDJp11BTIWxEqo0dTCcZJmko2K3BCddzvLMZFeNYYJefIJ+TcSy0OsnB8iHjkW0t6ZwjibmGTuZ2hhdw5zj/ZYqAhAxm64jt8XdzLsg1g7Jpbh77qaH2b0LPTCHqreV2wD1o1uKKTK83+G+Mcck9hY75ZPY33DyWBHkHcFjnkDdIsHVyo4Sz7YeiNAfa+44crnAPvrEpUSPWdUrzC6DWs9rbNIPk1EYjLrz0QT+H2IoTEVRHfU2vYFsdurYXAOepyUc5KUfP1VGzoYxRPiIDaFelbBct2ebN/DngEj4tX2Wf57yEAgC6p9lBDSnyQ848EYshRlC6WJaMYfzPxOgsTWNCVjYo3ST4n3keIXurHM64MA6G6fcDpWF85srNgyvznM7UG/kT5skqqPKn7WXXbU7mWtItQwFqvLle9rlyfOFO5Lgj2SBDY6jSecrAXxaXjuNFvFoF/gcqP8bmwwQBT2y/uRR
    auth0-audience: AgCFLyjYx7EYYv9rMFS6FeNfmvE54NZeI0NTcIDwN3MEceWpZzV/ondE46Mhq20EH2WINy3Pi00nKt4U/IGaDoVOgf8R+Y9zPisf+9VPh11KdUi1CJzWyXu0TL3LZkip8ZKSCGuvd31DV9WHrsgG92nSyAKl3EuAXfmrP0N0qxZJhmsdYg/5Ac1Fgr/pMhDAW4L4wXW1wWLNEJRheTclI9btmn/KKukBUMos1V1r6EsQtZkYycj7xMe6dMm9ytpcorEtZYn6EBP2qu7gKa18J+UjpQVZHcGwxqCC7pX7QB0rSiq/CLS14Ha/MRfRul2s+khRyTmCzy1usjElhsReLW1I5H0uewiVKagtVulUdhJDaaUd9q8OZNzPZpHHdXgNIannjBEP6trryB0IEkklz2qXBHi52v2u7Hd9K3QHDLdjfxmmRLp7cyenoJv4tfwigJWqAQ9kmi2jGoDIDemgui2TiZ541eJPXhfECR9MirxuPpsSIXDlvAL4XxRREOEZiGL/uSNnOVmSHY4tyYE78E7yDWSFNeRHiAUfOK21LxumHp371ZprIlgMgcKpIE40U3T0xwG19TpLQQyU4+XDGaJoausFtKejq4bLHNVShXaHWTzBgR1rOJTFBeymrYyl/W8A8PHhEjqkJBjENUK7iRUw0fl9o9/TUSNmPvCfbefnyK7DsHEjlVaHAYxM8XlHBy4Al1uPzax5Zl1I2nJhLUmz69q/JH8zIKjxnk0S
    spring-datasource-url: AgCYkvjKWfE3lbjRrF6J9jbQoZ1B3H+DPBeKOedvb8pYWGwQGwW/NkceG+nKpZfZ7QHcbz0NFKFrQ1kFFDzv1fjk+48aaoDyLaY2nrr7z13ft+M4vmDJ9k8ecSAXRuIHBqTcpDUuY1+csFDO0+iTH6VJQrGrz3PAMkAd2PtR31PWGgGoTokTQNKlFpZWO/TwE3caW9j3R1qmuKSphHr302s4GUti827KI5x63S9NtubsvIgLtKmO0zXtYEhix6BDH+agO1PV1cD0OCmIY7dtQ6+hyz04gDSzVxEpWmCq8s/g6rrr2K6Q8Wwi2suCnk3987eSaCEn6b6YmgamdO+0Ko4YfqfS+HSS4uMakdwHnnnUSdRr/CYF9yK3E6/MMlHfDpoXT5FnBeUq+Rbpfcg/K0mVLF5aPUUtVP93lDHFrEEf/bhoBH5gXE7EzTI07a7xaabAeZfk6GIOqCotuJwr81POYYMwTvfqEX2dLA2mOGZMaxpICjog85ZJ50giL9ptCzNkpbxCRPyjKb9wk5oNiqf334+9Jxelz/jKwvI1k89Y0VBGh6LfFh1ps3Wjuqfmi465pOkoIYDEibUh2fa0L4J9bvy8jN4vSC4Dt6FJ6dyaglQpBdrEGeswgXLEQHs5yni7Ul3TnBGUI8nZaaF7gNg0iSS+ddEHzFPO4P+crGa2QZnCeRIqjxU14gWySB5RerkUrWyn6TVbSoiGUHA+r9a8Y5ZPv599S5tsuvQ7VR2dOsXuCUIJpOdqjN0rCm1+Lnb3/8RMsNOPca/cevSoO3IwT+g4XGVm/ZqOYIaUFiVaSdrffKqfIeL8IO63Hw==
    spring-datasource-username: AgBdD0N8QtoZaSE8ms+PyFiN6yQeTWbl0obM4YRyTQnwGB5BXR9BKtsDjKIuHkcCsPmDDQMt2OaP2HdOnKGQujs/5d1oZ/3loq3rzpgiTjxQ/Z1tNqX+TsUlo0KGRDkSskiEN8g2Cx2nv1Hx4B+WYA1urHrpKSC/xEEUZk8+g/WKX0qXw72QwBYGPPn/qbLQUBEWi2/FllDbeJUV+bdylU5Jtsbb+tcKJc+EsbR1mPXM3AfSIzKYwACnlx5QckyfzKEXx3TiP/zY4y+IM3FmvIgtoXfMfaf6wxjB7MYaKDJvgaU9In9ER0q/axjLa8MtQHdn7O5+DvE7W4y96xTapg8vqhEr6PRXvcYfazBdeoCKimoS0opHcokUMgYmlG1dFMhYDJotirfZNPDmHI6X2QnuAZw3cCX5/69sQT5MHrZVSM65eLPEO2BXbhzc8AhqlGu+HC4OcmyOIYAwL7hta+RJFQ9vd7PQ/DrPJomUjAmvpdwOqRxy66qSTczzYo1jCJL+lqLop8MumwC23q89etJkUT2VnZW2wn9tActgkyJcDGHJvf1KnJTbscmwuH1kuh8wezEQUhwjfcuXLZCg6mb0c3FPRZq5wfBxuxUdY/rwge+Oi/Z19/K/HH2QRGB+Vs4YyQfTYhZaJ//eWV+7PLkRw7SBCCtXPWfRLfEmZWh60tQgXigMou4QLMMstPeAKNES/NsopT/LBoMkEyA=
    spring-datasource-password: AgANPPZmcx+Sh8Roe1KNwenWYYfXytoIAUsMrTfdN+nrqPtfvN+GSlNhOY1d1hsHV9Ujb5K3w7Kdbwof5+YLSEooDOnxqRH9qQiaZ/VYEmW1vBXIsVE4/nPAJQJHYv8km3v3S4b0hlEWjewmewoNEcY/7qZBLvdT87iLKLEBWzFk6Za6J5aoYXIfQvr2x+LcQqfJdAtWgBzKiibQKsbe8T6LKp2uQ3+QrNI3zrys/7IGx/ilVvfPBFKaTAnsNEjXXR0q9bB0+GVWI+j3fBlJ9zXhuXAoa1sn/ioHCX4W176FHUZx4VId3/p/8h/wNXd7dwOqix7lcpOqnQoq258RGTgk5en5zS38vGVrjkSYRNmj+kwH/bqgJX4W3ILeFvrkuP7ol/2BlI1R6sgYwpLbahD6qv8H6q8O/WGZXM+mhopLoRCvq6TJ03q6SwGWyuzueRKube1t9os8HN3/GijbB155nvKjciNRo1qWU6tWQF9+tSO4YALMVErHAfR1f6x6Vfb6bUw/avxMTwOaAq8MIpea5JnU7/wE0ovJ62wqNwIh1fiexj1ZuANCZuZ2qHRs4oZHHmgTK+AqbFvlJYbNLICeOyF2S7SB42WxgiSgPN8DxRyt2QMwzIaDp5KT7jLohvVaP2zjRjhWxF5JJbV7zXNQXBhRDK4xHTi/gzo6TROMV7degM9l/U0ZcCnH3PqN3omfyma2HSGudNJk2NhyJ/UT

ingress:
  enabled: false
  className: ""
  hosts: []

