image:
  repository: distrischooldevacr.azurecr.io/microservice-student-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-alunos-dev-secrets"
  data:
    auth0-domain: AgA6WfRGbrkGXNSpqTV3+G3V4zSUUm2x1v3gOEyFwhwEk8LrnI9FH9YSfswjNrF8Czl1EIrKQcqN86ZKO4jP9E1xUz7idVH6KU8IAuZUDvNHDMf6UP6m0Ez7zsX05dJLMCU+CJvxxLiDz90QVCtqZSOzkJhbylpXGqwFpXZ3W0SSA4M8gAbie3TxnGPK2Q04A2g/AcQdoZb9cM+wbN1Ba8PwxlMpsF5I/JqMSAP3pMbegqXZ5UEgEvXnor6KESgBddz1HQ1q7UeRyycQf9ZEwotu35GsUr3kdVbFU5i+mJLhpGAezS7raXdyRb6POO1E+bU8nAgx4AdSZfNX2tG0l6l+NZCM5MT/zisE217JHDRAm3wzDU84AeDpoo7Y851wNrNNu4IlVqtDxcIl9ypqtkUlBnuKyKb5XQo7HUexJvPqPNkAwBtEirwWomA/fUEvGUmWdor0xZ+8IoeHoeF6q8Vh7RuXOmDErWN/2xiV/cWcjBeVy5xoTl6aFPM/QdJYAEdr3B/B0c8EN5S+Y/6+3BPfgUEXqwwssWXFY87s10ECjHZa8/5hTXFqjaw9BOomx5fmKNROlZhAwPOflRiAad5uclVA4L9cJdsnDTcM1m7w6CBbnpceVD/d4i7m9Eq2wGGyXoQtPSHgF4YwA0gVXTd4F8c8HmnOhzOpPJ+6OjcO4NW3n1FTgsEL7buYwn/PonSzP+Z/ph/ksbpdmnAXRreNIyktorWwnuoNIu9xLyFuB8Y=
    auth0-client-id: AgBFVaUx4GaCOVTOkM752lpNVAUAA+1sDDAOxxzFggWe2Tm9VhyVQd7QzaXXyzDlmAusvPHaNud7S3B/Dtnb6rMQYIbSnoRgUa35juXuQYPoK6/7lHLgX8efNRUlGIKLKOZgOilm3XHN/5RGCe+5S9AaExL/0eUK8+RxsbWQVHqhbrNZff4OZc5A8TEfQN+/IY1hWmSPtoOVzNMNw85RLjMDO/Ca6iIGikDck2yfqa4xvZgbp9ZlcR/7gx0Z04mttFE1dGKAW/wwsTL/DK276vj3JG8eNdJywSQb0060xsm8KJPtifRVY1s9HrOKPADZ3lAf8voNOYvbZ4VVDxi1ZFQMjTLP0EqRk2+Sgy71h91qPnranbtZOPVbBUdNuU8+fZznxTH3l3TLTrxjw7WfWWSaXzD0KAnPi2BVz3bV+wb9XNn8exYE/R4HX/FvzMB2a3z069dBuwqCfPkcD3TdCNjENhEsDi+WX6/hO+bF168VSG9Adu4+QRETIXZs4fsVhIO4kbhSA0N8kPDcUIIdOhqnTtK54ymh+A/XN8+mQiq6QzLx9b8rsWS2h7YcXaI0g5DjEzjn4leJVKQXXaYY0dQvz1nFcN16lZ3Bmc0SpZ9dzbyH2vyVoTVIWlZHiPl25NH5QI1mMsmovaENztdYKXpOSq6V7wOESizcLwdMLcAjfpYz/XDnIco78Om82FjsJ+7lR7NoziRB1XtaPojw09u3YEGsA7/n+iSYV5wnvgmA2Q==
    auth0-client-secret: AgA0/ODB4BlAtWI2KHYL3AMDkByHA8v48mS4xFSi1Ys1xBAy/ok0Ix4CVxkyPSUihjPaaxrslXY9MMbFUk0/CNd4l8zUvBPzIxPJzTZK+b0MK4dLLAVa+ANYccRW1pvldFDa1WkJpfv6vUo4we19YHnAt8odEcsR3w/gs4h0SFOntcy96G2rvvfAgHkFz+ZrX43a6QRStZf0UrlTJb7uB3Un9NLL1QtfABp7o7OsnENagozxb7HMsEALKzI9L6VzHQuDt9K3H8QaoNx5jghWDhq0K7ZCmett1Dr5kDO55r7CR5DKcO1UfKKBEoS4Tm/vpSP4cAqskH370bN+FsF7+2seREFxaizr8yXFTSWeGmuOILbLkIRk9XOyXU/jVAfI0omep8J+B8cw2X9HsvVQM+fFAf8pkOwkJ2uiwx/bFVu1smalUb65Wf1yoXIVZlnhz9OD6O7mfhYrsZQCtDu64BRWnNtKkPPsiSkMDbUgbJ6Gyym2vMYu5Li8+pnpJGWRHB10V6KCGkynPkCrVRjzrWM4Oahl0NW64WMyTgEJS+4882KBz/gzRrE4gmU1gBnwfOGU6/cJ75vanAFV9XqlRlJS6cBv/tn+oE54w3mYnRQ6vVwlq+t/GCDE5rwZxdI8tBY+MTVsU8Igkof6X8Yd10XRsdGI3L8Tj2xOSbhFYSCle+QZHxcpr5vbrurxWBAaXK5Y1x5SaIkk0N53yDMoNnFC6GEjbzyo1BEJEq9ZnJlscUu9Dx1RQCaW3pb8ni0DPMm3ug1IUD95bpZEJCwaxmC+
    auth0-audience: AgAz/svUY234/3EAGTc1VAvCxmYMekQKMD7C/XjvI5N53x9YTNX7ejKWZaBP4HzMCwLrtEzW/VR9cKm2IzbIRJDZUHxVkkjhx7PksW92MLhuJArt4OhrPpC2+XpDb+Yfs6FPcpowwFRirakSl/krOtK1ZMw3cV56lJjIvXvjEdn5kgG9e3W61pyuZcQVIHp9uc3KS/bmvtGTlpBZf7k0+Hc1TtApwi+in4E0N7eEkFAY81W+jHgXBmX8zZZZMWgk6yrUqesP/tKEMVSjlVUdUr/F1gb1xS7ezdWZCBcGi4jGq0S487dmhFfZaRUew8seRFheYydN1xbbHUyTxJUp7zz8IxLIvgdh1z3Vvc4zzMRf9oP+tkJIOuKAvDSZYIt45rdZnokTTB15cxSTSkc00SKckmPXLK1vTrn+2rL68BbHpt+dQMTLOiVvRuf817B7bJcjryGiCWYMy8NWL7bqdKGZlzsgWO+bdxmYZhc2fx5vD47a5UELT15WPUJBK8O5m4/LNwOalxldKuGKX9AY8SIoEQ/kAzLHMiHAHJAe+IcLh7uvY+L1uEh7KL94zD6ytDT68cBed/M2HxAh08b+Qv9Ddkp2v12mQget2sbfyaEBlEg8gblta+dP6zsmc1HMDkzejv6oIyhP5jXxKiEciZ6+WrmZCwUdH8xCBuaDw6X3Y8K/D2J9cJNAUpWizvuPJNyP5xINCyq3GIDO9xnOz8710PRkoPeokxQAkh3h
    spring-datasource-url: AgAnqdwQCt/E5yf9vqK02mt7JcCjHUdbsuz2lPau/k7XiI+aK/S2mJvbbw/Q546Fr486Jztrxxb6hZYyPvePEYzmlYCqRkfP7aTawCuvxz88Qkdnt//fzyhcf1jkxL5hS2bV9StaIZVnscJfUOECJWWvd9tKIqNHSdix2WvN7DFfTJDmHeQtiL7JZNebqRc7otwecc9ARxaLe47KysFwa4T7zjeaG8MbuNTttvLQgUfaHd8fwLXqGB5g5BhokPYML/m09tLUKtnPVg1p+e3uudC+w+PtFifGR66mHAdPuzbVegXSTlBkLz/D7hP0iupYDVE+SD4IM30JtGx/WmWeb7vjCgVlwpEFzDvpDElvyn2fbtb5kLQy3oDLYOl7460FN7jSos6YbZ+Fc6HQPzwOW6OHPBf8tSq4UA4FSiSIF1l+5B7yYWFhY/10pV6h594Yl3UjixiYyq2KwIojvygyKvm4AScdzX96KNpLBxYuvOVPj9e5OtmrNYKfX50LPhVhN8gu/8QeihEzhKy0IMbdSKWlNJ19+aIltErCWITJAkC3jwGNTFkmTXd0V7Ae9VVyoeKdNC3iiBp9IxQj6lmHpUfklcuoFUTfMLr1aza/JVIS/0FqYJ8TfrW1aIdBy3cLuowMw+/IFmdU6eawqUzBmqBhTkqertXK8ESmQNDgfEa/Rul9fGwVUv5w8STXZ061xDbLMUVJrlAQOHvH2B1pC6HRt0svsGh08BvTLDezodzGCsTIkGLQgUoWgIkikP9J1YeTblymGHCtTetDGzH1EyY/LbTGYE0OsXmagGCDVdZQTsXBVSHIxVIogoz3Jw==
    spring-datasource-username: AgB01LrweTzTH0n0JJnmXUWHW4ncA/Ffyt2XeoDL6Ml/l9/nHtQRvcMKsFAhmjN02lZmOa1lkNjpdLYsQxY1e+yaXxI4Pl2zZrnJpahmE2cuUU3Iuc169xXkSR+iw7DfyKBQA+WDaw/lz/gXcBiowWcmfwk7hfI+yajniInkj68/jlVflv7s8DgJU269wztRoOqt8pcQPTz/RWrXWErZKapVF5N4qZZKkITtfSBDRZtv1HursWC0FKJRoJG2fRMHdX22dYduCPGd8SOcOS0I3pqSfqErCy74vw+BoLlgj/D3wS9HyxcGnbgWYmY7tBrpcqepNVFkUjrpM3hLi3Y0yNe1r78RpD7HG0ZUt0HjRkmoLlw/PUEekeUhpMIwIqn0Se9r+Tl+dqpg5dVLa+t7NMHuhnSYK6fCuj0q1n8ZQVRBJTMWWMj0/LWyIEdTN3LJEmKbJruChA6cxTaIzqY0WmVutfSklxwVkOGuIeWUlSb7xioiH568yqdnD2VUrOAvLGHkhWf8bzbVYeq+lenmix5DAw0mBtl9wNwWV3vmtZ3yHGhgKNQP+VlvbLUloYUAkTdWpx2Cce8wcZl+olpufW0X9gQwZ0HbfGyd8iDCiu7l1dIPHS9FwGLFon8R+C9rM9iAS72GA6UTlyO7t9ezfeerHWDBJO2f1XYi4pum5ZsFdbVI6QB26XvHQxcB4z21hPgGKh5uOJl1g/DIf1E=
    spring-datasource-password: AgArwaU66RXZrF5OGzCzZ0stEHFd4NK33p9TWS6nBLPGOXAN96MOeg+ZCijMCmlBYxmfSXWgNaBiWPtGPmlcz18r7XuE0rmxu3ulNwAEp0jInfz31uHSKwE9RIdhOe7Pd1jMsWTuu6OGha+E2SeS9NEqTT7xv4Hvg49dtUzbLnf5SPRiSfEzL4bDo0/KlW11wc+ET30kQkXzIFXOjdyi4urjVbJg1tIOnRmpLoRA/9BYIUz8keyMMOimtZUOab82VVxT3dNzluWibz0/yjd9OGW1gSD71wvWSgQ6j567dmT3gghN/Gskwf9BtwMOE5pwQZdGDqYgnz5ZfbdZ7i/HiIpzx7DFgC/tCqGI/Zv2nSsfRTMFits7oOPZ6J1c2KoFAj59SqgwqigPRvKRVnE17fdCAFefSsjIE8iUIarqYEtVIh6N4SSH5MrBOTc7XL43cXXY/0xpsw8uK5sAoEO1TsxdNGLfMAvF/xyfLsdlIGutvqGHX+iJwoVGCDHW3V9jCq/rjHZBvNxPHqcmBSUAK0fpbl25lfhqXV+r6oECarUhZun3RFtM2I2VmYkCsT1DVNaeCzJ0+6UG4ewq54jhbunQqtHX9hPGh7QqHOLsgmMWdZB5UcH9KVRTB/PDZzY6ksNSNgVFse8I3TWDIjpuUxw1uwfv1RY4wdtUpBKK+CPx/uXUnDl5n74C01K7BQZYvPGU/bz6cWzhWQyDpDMrHy9Q
ingress:
  enabled: false
  className: ""
  hosts: []

