# Environment-specific values for auth service in dev
# These values override the defaults in apps/auth/values.yaml

image:
  repository: distrischooldevacr.azurecr.io/microservice-auth
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "auth-dev-secrets"
  data:
    auth0-domain: AgAzUE8kBeWMiymTfyL5YRoOjdZcE5/JnASKUFXz6ObwD4F0XlmXLF1nIFXPUWfTe+5jSLS9a2aZI90VqupgsKVnlRUDPnvuMqC8bPTLz0Mvnd9Kt2dAKIWLUNp9tPjMpFlB53MjpbISDFZg4YtKS7L7XX5oyws4BjygSxxJoTSLwRYLmk4PXpNB8rKywSoweCjtAa4I8DvdAyzUgUP4aeaLd1MYPorIbRm8oc5cZDJow5OlK/84Dp/io/DtGm8dVbxAX0rPHZ8mUh6O0aH2JtOvAvHnSBqSLapU3QuZP0sagMLqoTc9as3XZrj0/iB9zbPawcvPwbhnW6XIU2pxDjPdZFIrsMx/jh4HIxkrh0xj8jp9rKa/lez5qiZsUs/+6VBUMAoMeO/FG621+oE3nZ5NTNfbi+w10alDka8Km65K0y9UdXh0UajPS70IM8SZzQ9CXgByqJ95yuiuJWsyoD4DRUV/RcIcGr7e8HdaCpiiT0cvJIXgh1BcV3yIFWUDC65ip2p3g9LqZdPRgF44nGnxLeEsjFuoZXe0nP7S/qKkT7nQc94kP2E9qtOnIUxoN1suEhM/0oOqxvn4SuqwmEsNmd6M+XW212s5fZhscReGLDy+qzxoFMWSi1vRaNnR9fY486XIbHVlUbqNZ//7hQvA8nWaOuSDqq4Go1SdVyAWnbOsLp1Lf5OGWLvrHUuwuTK4ZD0mil07uh7YcKadndkmYs6i63iSzP5Tnpa6LYVJ6I8=
    auth0-client-id: AgCJ2+E9ICp+7D2nzjwcSvNjLPDtMyeS6rT0mhX+4Ix1aE8pBQCmuShpvvCS+JbgUxPpCkVYBuef/tL3mIHVlsVpAF1vzE8vncnWfciu+pM7+1kn9lN0tqpThHrJlZevB0fMREgJA5Nm11WnFeNHyMkJUHQ26A7wWte8v/a7qLhzkXf7zTj+4GY3rotPf7X4qNVWVw+LfcGh4XM90SZy7Z1Lh1Zn9NRLUtftMtzeBVERRFZ+nqRnNbtU1WOda9sRG6qr731GGcwTaT25ETyRRbYGYQN57Ss6mvh6Nsh6KTPPanpthGDlwXHWcGjohMDlbFGbrauQQnUhhYbWUK/TL9czxNejwurbbjSZgMtJqvDSB55GLTWtRjY2I8zjDkbsCDQenI8xo3dowtWbEXxrFsWwevCRjm0zsoGpt2ZKPSmrOdlLrTEqZyFsX7wu/Gyj8+B4uZKe3yEc8SRno0vPN19f9uKHz7JVexx3psP++b8s1dAOKTRlMfK2WwTRFXg8DIdcZGeUsww215Ja3VU9cLvuadQbKV7jg+1TAf9LHspvXbDmIJJ3udhc8f18sw4/xwhoZvqnLVULhhu+B58NViwfhzyFO9dkQYsRU1bAo3SsWQRhFQdhLBm4P8U1MbW7VdD06Gah1RaWPZMnWV7eN3QOZftgvQBvIMxAe5/GD83338QXQvhZVKNImW+n1rcHDG0XDmUYgXzXd2biq2yLRiBxh4W4LonIw1likW1iVyDDpQ==
    auth0-client-secret: AgAz34tqXYSUNQpX1ie4kT8so2Xk/cWJJhFPFZaIsNnFNhV1eTUslnxrhGIwhQKMIkXKUd0Hxi1SK81Xvc5J3UxLYRb0l/FTD8LCbYm0CIn7FZYPChmErcnKH2Z8UbiGgmrcclZl4PKiHByH54r+A6zftrYB9UC4Q9Sj9yUCPOStis+2X036e3qf6dzQwqw6/AmYTeSNdjZiqQF0nE5qzyztGnFA3w8W09kqJZS0lVROyk+jQsHudB1dFY1JEMKHZgZN05nTQvg6UhyleQiZRtKdO2q/g7ha6vPXr3itM7keQZwkErLQLzEjscPIP33ncxCSvI59x1TjXnedcwf6n9g70JD7JWlGeGK5JxlOeSo4aju9dMJ4z74Bm8vJHHPLlMT25rlLNXJ9IzUjEgjAaV4J3iyjJQpW2y9wKccZerHceay4kWDI7VMJ/mUjtL8jqgJT30AdmhxWp121v3kBq9wZVHMUqPk9k0lfU4wfqAR08B2GIVKgIJ3rUbEC1SNC3MRwERIbPUx1SqeeBdIjsdaSa3sJBDMx+rZVJ9OgEx2s1IlohdqLOfxlHBOgCqhnbmpsmQAgQyLZTHPG/dNkxFUqaqGL2ArBG176DbwyPpaEz6n8FYZZnFk/hE4Nt3nboi8sfJ+E6uFP18QBOg7JtYPMkT1Wjv80EyrZ+ZOoQoStvj5bXHa4CbuIBs/+QBgyilFqohBNV++CzcJZNuDlalEVLw+00QRi7nedvMcxKrXMlKCW9U6Jt0ANua1GSkM/9jtBMZuEYGxy1Tz522mFHXKy
    auth0-audience: AgBdAqb1aHc8MGLdfvkb/s8sYkkaUxBrelu7SPSJoNBHbOXFsNYl9DTWJQMWXSaYbwqT2h9Zoj8duLKHQitWG+YYBbrp4YHGAx4LH9IOHG6CuXZPGFt+LRjroC3ezO2OMq91hHJNQmh/M0Dx93eGd87SI7X9OseTwlLyMpdK8jbDuAfGlHcKUJpCVI9HfnLDLjm4rsOi6LpVdIkGzOYruxmn6msot/iYEvzSZ56CjuUZN/riIPRFU4liT743dSBssqi26phMs5x5lKGTZjaGlSg4dh7myl9YiNiFLYKfol4OG43g/piJwSogVYQlT4UQHIihCP9aVFXyJdir/dr2SxDAQd+hempleFyMC5VB6bYTqWCq8mJ1pBLHj9wiZvEcrWSTUWa+tBhzpW/ccbfjvVWt5AF+JC3s2MkRrLltV1Ax71tMqhY7z/z0b0gmvrbldnVcu/ZS9Lt7OOi7LvLcrvbi/oG2AwIN3QLfkpUnmpe08pa+f39vIUearUn/eEC6oUKsorXgoYnt+aOIkDliRFfozw5iJlBx4myBMaTXXX9C8Q3vj+8PcNVT4XETcHyxHgru94DOrfIAFAve46316J8bDDXe9sLigOCtKkDQDjY5nW1zbv7ImJN3k5ytBudus80K4+abi0GN3qC1A5aSno37u08JBNl27nZym2ofHDEgGGK5XZh/4a3Zmk7gg4X3dXcYqU+7YAAdBzQrKBEo3/pnoZAyh8NJs5RyJD6T
    spring-datasource-url: AgBQWa/6RIRWHzXa27/USPtO968MV0mVI8T5/LunFcguEzBD1daZYRDZc5nxtxH7OkIeCYW7nx+qwGTySmXpbDpGwK7hHy8yLNb/NpVoscxh4Vf2ezh0mp9DERdqEjTI44mbPZds94oB90OpAjW37dppFNuQKm7KCFR8yAjSC+kN3bHiv6cW6wCusp6/iAs46KKJNKlQ56coxErQPKWQs68YC6yaCtJGG+vwQDOPM56z8Z3csRDhWRBsIuOwxEmtElNBfUuM8ZA3Qek2V7CnpMhFU1ku144QumMtW1ZXKGtBBw3PI6UMe4ha7VTwr2ah/htMxBRcYQspFDO/Dh36x0dkzfzI8FuzTmLsXY9o7e3JQ0dORvFml8280YuIwC6/0HTpZnE2qUzfrNABE6WSggdY64p4m3wySF7saErIp78oKLZ2wlTTDwnzbwtiAhfuCD8NN64u+J14Ynwk6AFq1B3d/cbuxMxIJLk+RcvOf0Vno6Ao+DaCxa4i+oa2lZQwtsO1O0pkFV6jL3bJHxfDUcK6WPHC4PC9kMqZUZeAGPclZPuaVx5gTCGh44EcPZesc6sjIJT7IzVBFwk6VSFz1pw54wwdqq7vd7rPjSJhi3vEQTDpcqwb68UwnOsLYllsdKFNY+M9xOzLQwukATduvK1sBBjYL0flaq2CMfbiEbyf45gyvaSsE1AaHCZkMeSrNG7uvoJCbPlI+glxANsoXFABVh8XYHnj17uCGg/tYZFCDYCaftliiNOtFvfrFvXnRGo5H+FwprDgPkoG5pxV40Q1iAT/ubaJRUuIKFGFag65qPR+OgKZDj+5O1DJ2w==
    spring-datasource-username: AgBsqm43hQKmkFtH00xICZ2dxmCU0f3tcPierJTS13umYM2Foz66EgAYGK237+xtEF+Hb0XxYd2fL7rAjly6WDcJvM12BWLU7aO+Zm8WrzjFeMPyrCyhsd5qJyMvhxQ/MPKFM+6uAb/6LSAQx+BA8Z4sfTQIOQhc8PKxWC6QFZHDcn6KawutI2lDvAlDaqNAigjf3o79Zc5U8dO5IZnvs46hQkFIcOZG0AJve4Vh0JFOzu5on+dM/Tpw3/BtpZHNml90kOWpGw5AgYpcc9yYBXeFjV3X4ZT4KaQcAH+G+sYEtDL85IQ6gfaYhYpXSqMmhKpOQunk45w4iKii7DeT9Sa1C5oiz8WW+wr6HwxpRsXDYDEQzr51BPIffZH+WC3kkTyCpMdqojrt5aGYAgL4HTGvpuQXjYDrQdPU/HZwMvJaSuEVX+J3ZRF0NcWp9Q7KafyDO6UmTi+BrKElWfDcokgujK/slD73svBEEcfVmbQV9aNW1sU1cSq+fWwWtOoS/SOleL5ZhFh9j+8i2Ix/DH+UnyoJ0q8fGwFU35BAhByxqhMA1YCgiKANr1aqFRzySEM1nkiSJHQ6ln8aDbYhKbHAEnVM8BuVk3G9rt3Mow3z8FW2aWjokr0JBNXTuEzU8VcfNdqh/rr1sMiooR0KOpBTD8XZgNB4tcn1Qgng03SyH5rxbEZnwXxtk93uEXDdlcBzFbdbk1T8yeFrCvQ=
    spring-datasource-password: AgBaow/GQIO5nmDvEnOgElZ066mWR3IIlr2pJE4bXaTm+9vEw9qZky2Egvfy3FY757ZIIPIWDI9csPwQRVzuH8PKQ0kgnuRtU1LFQbSVmbvNka4f0EvF/tAg5lneJNfdEnoNUozJPFRIHQfVNKNvV1aXH3LsEpfb5hGBNsD4DYRGozQKHP3qNdhM7ijEy3g/fI3fkzg1Hx4kmGGkychORM9+UsvfElpuiU9pjMGSZAEEHU7WtYR069LMVHE4e+OzSSc9pf1BEu/B9KlwCLB82MLiU8miR+JSl9ZwetcLn2PogyyKWPthIL5Ht715V7hxrqMRTogU4k7ajBORW6wPNPfrhHYaqAWUHTsqK3PfzuDSJJYMXn/ixvp9VU/YHzlvp1j6XQuVjIAcXelBE6Rv9OvNWVYGDJf1plxIEJopxEG7VH5rtJsqddWNhdR3ZP4VJNCYHANrdO+nBhnCKcp+jVClCAtsdOKEhMKu2uuQwWDFczbOvaW6QCIP29tsaB5a/EPFd0CEwLAN8ZKF2cPbYu+7roNpGaz74IOjHkPK7kSNyteDuiFF49RpL/u6p/v2CpRp29lEFPV3o6Sq9ljGR2q+3GJo2ge//5XQMOlSPq6cm/PStvOfFKJ/EANaMdGYtaNxFYXebwLKQEqOfvDtf9iqHl/K3Z0Z+7GChsPuQ3QorVE9ruNBVCKqFnV089WC1IUCzh/XDKlL5yRkvKv1tAJB


ingress:
  enabled: false
  className: ""
  hosts: []

