# Environment-specific values for Prometheus in dev

fullnameOverride: "prometheus"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

config:
  global:
    scrape_interval: 15s
    evaluation_interval: 15s
  scrape_configs:
    - job_name: prometheus
      static_configs:
        - targets:
            - localhost:9090
    - job_name: spring-boot-services
      metrics_path: /actuator/prometheus
      static_configs:
        - targets:
            - auth-dev.auth-dev.svc.cluster.local:80
            - gestao-de-alunos-dev.gestao-de-alunos-dev.svc.cluster.local:80
            - gestao-de-professores-dev.gestao-de-professores-dev.svc.cluster.local:80
            - gestao-de-notas-dev.gestao-de-notas-dev.svc.cluster.local:80
            - gestao-de-turmas-e-horarios-dev.gestao-de-turmas-e-horarios-dev.svc.cluster.local:80
            - notifications-management-service-dev.notifications-management-service-dev.svc.cluster.local:80

