image:
  repository: distrischooldevacr.azurecr.io/grades-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 600m
  requests:
    cpu: 200m

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "kubernetes"
  - name: SERVER_PORT
    value: "8083"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_JPA_HIBERNATE_DDL_AUTO
    value: "none"
  - name: SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT
    value: "org.hibernate.dialect.PostgreSQLDialect"
  - name: SPRING_JPA_PROPERTIES_HIBERNATE_VALIDATOR_APPLY_TO_DDL
    value: "false"
  - name: SPRING_JPA_PROPERTIES_HIBERNATE_CHECK_NULLABILITY
    value: "false"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SPRING_KAFKA_PRODUCER_COMPRESSION_TYPE
    value: "none"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: SPRING_FLYWAY_REPAIR_ON_MIGRATE
    value: "true"
  - name: SPRING_FLYWAY_OUT_OF_ORDER
    value: "true"
  - name: SECURITY_DISABLE
    value: "false"
  - name: AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"

secrets:
  enabled: false
  secretName: "gestao-de-notas-dev-secrets"

sealedSecrets:
  enabled: false

ingress:
  enabled: false
  className: ""
  hosts: []

probe:
  startup:
    enabled: true
    useTcpSocket: true
    path: /actuator/health
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 120
  liveness:
    enabled: true
    useTcpSocket: true
    path: /actuator/health/liveness
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 5
    failureThreshold: 3
  readiness:
    enabled: true
    useTcpSocket: true
    path: /actuator/health/readiness
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3


