image:
  repository: distrischooldevacr.azurecr.io/microservice-teacher-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-professores-dev-secrets"
  data:
    auth0-domain: AgAMLFMkxgmf/a6vvFkC5tCEHq023yYWsE6/dT1X5YB1zrsacwrEbI8nv0arw/Nok7JxUkkovW15CwCkz2LtCqZ6Bf/ctkYBPNQfy+SYBOLlf5UDXVLi7qmvCGOLD1fjAbxUWi+AEuroSCHIZkidFRpmt1Vco/q6rFZwpA2bc71HpIStfhszXFQ2qtWfz8nSBW4K3o7w9DK7QIxzvuxmeHSNr+7TwVeHt2rzIOoysYQVSGJ7C3m753FG7QLGMi9GyXPO1hAbP//nhQ8JWfBWctIag/grMNnl1urKUufHt5DFBLi60pfQkzpKv8tMDw8YptFTeO5wM8Y3EXf69v+SyBX4VeJBX5d3j6qC9SviXXKFcQE+G+3vpG+zmIxBWnmrojZZhhKKuFyvuo+pe4gQT1yuuCuFT0HTn0plmRLiXmz8/8Q3CvZXqCKf9rget+kosb9JDEsykhaKuQ1rjWqTkPWW6Kt0I3I8xUZBbPuEku5ww2AcZTy47IbSZZE2U/mArmhzRv8euq7zYUEkEe2ZD2LvYuW3MZnqigUARftbhXI6TBR0cFVX/mTPakrl8XTFFOR1r6usMP32jQaCfZysLwHj9GqK3zT/ABacVWDUi30SXAsZKkyNVTesT3M9YtAixKW5q8FL+0iuNwBD6lKAu+umfQXWOGPJJUOry1DC1KVn86Gt2eSbvcMbl2Rk4MioV1n3L3CTLSIchut13naPhMB47yth9BKTbT2jFjWYDbjXgog=
    auth0-client-id: AgCM3m+BdqYDeSOcLi8zZxBy8wPs7PvKSqrzWC7TAvaTkPifIbMIY6OfKN1EpBzCWY2SGpkfNvKyOSBfC58SKcuBncd8u67KJ+wrLU0+RMmfdDlfb/OxvRNOq8cdisIFFuuInvtmaF2L77ypRb5Tr2QptLPgtcKoCZT+AMToJpa5hocVKm1LkKeFSnoPlbKUs7BgDq6TqZHjNnZtkz04+goqwJdsdS3ia250VobvnA8X/MRFw/2SySidVh30nLmTMEVL0lBEiBCB8Q/o2xVnOMB5PITOCLTDXf0OUecuASiEtNw4CTF6Omx8ZD3maDL7FmC/KtuKG2AvmmAfy+M6PJtLkUw68sfjydKDSN6UvClQuA16xxWDVYgvuSbOKgl/9KdqFj+7A6m8ZPlDqk1uoCA83kgI/hYPxyESMyihp+VWvJwlWMHa88mlYD9ve3RDyF6A36ruX4RJsdKz8InXEU4dMkxtBI/34DXp7+e7heaa6+gdbRrHYtb2xQD6jEhwmBabwpjoseYxtkOa0h5GR+dAZkYbqj0xBg6Gebz3kF2uWF31jIED4AqagG6B3yTWAHSYxDxOVvB9uVPCB3jLMW7nvp7bOZts5uLzZBfznEJcVMeFYUQVELYh0URqrr6HEoVgcQZW9N1e6dE3JjodPcOqjW1UBebbbbO/kHWoM4aG6uapRzdypAxLbMwQ41Fj7aCsVj0K92UgsF2Ixehfhi6d2P7FZgQIwb875Ez6kVYK4g==
    auth0-client-secret: AgCYIjY5FGeEli71DvXH1t2KnyPYQUFjBw/6hteattkrCON+VPnCGUGWbDUzDr+8irWg/5HovCPf5XYwkf54yQbXOgnt928/EbnEfH9h2j+zOm8HkKN3tEGng/1jKkmza+2v70bh7EA3IzrEKKJxssMX+CIoKAg9b625lOqw3DtXZOt/o54as0kB0qPoK9t5P4fjNd3ksxzR1m8qY6NQ/ocneheylfJqMTEOEffqaiFxFjlH8aP3KHcbkOLwm+UiRMxid1S8wevIXG0qpTj2Dqcky75gNLhgVxAC4uxOYMarsYLJAkd+NbtkC1JhMNgatD/SxE652cFdzp6lrJRWuhdswf8uKvml87pTADIa75CjGY3hSvcisL6xxdVwXs4MbWE5qLVSSx8pIFbCmcgi2xA+IrqX7NUAl8BpgfHnu316VvlsjYqJZvypU7nyc6y4xcge06PrxLjZOJ2HwbhDnVNsQqSCpbAaEOX6/qvtIGTGHAPojlPot90OI6pXF0uWyTk7A/18URur0T5Y9GMnWE+JhiRXa0kT3cNSnof6ydFxBeTImV5tE8O8bv+Vi5832NluP0Ob/70vD/YBsM4UZQ3m6zIKhzhJVlnU6Oo0TJSK/BgFDn0j24/xfLiiH/HTXP6t64Yn22n6kZx3lpkSP94Bf2b3GXTujGKt9NW8zaey3RsB4rgUhTJ/wnRDR+pjcIrMjroLH0IEvF1GlCvX1gA76+HrM68Ert6eSwzQ6k1FAyj/z8PV/023wY0rc8nO+l20n4yKVAKZzS7sjJqzed97
    auth0-audience: AgBtjvMIFUNTKCTIa8Rh0kBHG9SM3d6nsv9XaBsDQjUyOAFQ8qXVsvn7i7bFcl0zHy5wd//9iT1206qfuZhP6+pBdeCLfYuuhoN+Ou9pzjHa8oPyyTLEVlKJZRz2/0hOoo2AfDIXLAFhHgDxEzRg1jJv8FakL78tXjbn6PFMPXLjpBxF5UKKAbSQFHKkrKwVv3TnbKlFY6NWn5i8diNECx3+AxymMHCnokw3x7OIjZokO20ET/5qJVSuxt+3dfxRFa3Wd8a9d88zP90j/VsGHYDk9haW8X0C60iPkTSd2hJCNKpCQEMxrJX91I8sglJpdo94Uc2zujMXcjVdSw4ifqwaKE2d+4dxtjBf4sffQtgjqjHzmSVBzX1fwOfwZPgd6swgP0u7B5ar/TmZuOJZIQ3w0YtvCSZq/irV/PudqYCIOrWKhym0ebl9eHYxJzqMR6ra2rM8es9ovgWNg9aneUopr1+ZtVunPr3FXhVYjxstj5H2O9BIC8Fh3sBPxIeWFAoMdiU/D2SldEXTyav1feFkMZzAfly+xJz+HlGfhOURoUDWFVPctePrLDxtUWU2usX/EjL7HlZhZUM87WVEs97MD4Lpn8Ui50M/iyJV3gcpBOKssQaQi0tQC9/5bqcWD4rT+6db81+eCta2RZArd2Ymo7Z/Emp+IA9sYLezt8NIOsNjZVsh8CnpzQjwuQ4rj5GHsMiZBZ3t2a2y0b7Q0JrK7oB+65KIuupGyICI
    spring-datasource-url: AgCZ52VbCOpBlqenGfJx02QbGuRqtE8m74YJmjCv9datC9vJ1fCbRlpSvRF5Rrn6UmRvNEKw45Sj7TnkEpod+Ffzmj2TnoDsvvGP7V4BuMU4Pon+cUSAakIzEx/yW9UEyRNaPRrOASO0jw1cbNj/jcgBIt2LQmrNEMocfAf2dM2zvAfkPABvO1UlrXnfbvefRUjyPs0bsEwuNOBG6gG4pmvHTLPvFY3JNdoMefipSBntqeHdLMWzVAv8f2Cv/7ODABgXUGF2ZtBLKWhL9QvSQJ/bnvIUCJG0xyOon1glZm/7T5O3tkYrEEhJMt3i5SW1CqjNw/KMJznfAWpdeDhh7BHGgtvTjgSljDvepFAIu0lQFFXGVwhxgqJheeQsn/zKDftF0QRgRv/cTP7Slb+Fo45q/UwQEujSJnyQxUT9bmA+QXdOLK+gF6b+VnwWaIQ1mVPTScViID6nijl2uVZuM3KEyxP5JH6p7rXPZvX5KVAuI8vuDtCSQ4sC4HoFBCCtMfkPWZ08F16ppVLPwOyqgFoRva2LHk5jO3haw3N+nc3sSvT5HkcFCG3LDWwpoiyMysgyzU8uJbyFPrTLDkKjt8pZXljqI8vLIrNqx9o31JdeiooSVFmLVN4wDC62K7D/IXJGLmLiIis/LtAgVNKipHHPNHo/L8CwihpBrqGjBw3WuC2PXrKlnTZLZd9faepESGVaxDGxzq4OCM9jzK/I1/7pQRNOopLNZLOEgkxK+IRi54VzQSWrup97GVc9lC7FTtj3+eISvAIb621qJ49Hjkkb+C/lXKCdxUPKPzHcshQpI5HvxWqmkHekkzuo6A==
    spring-datasource-username: AgBWFh+TvoeJ7Ha+9VfppnC0ERjBlAP+s8Zy+2tsepwH14IbMNBDrlhGNsQ4L0V98F8EQ8iyqKsIuI0RMxR/abpx7TWTs0uZqOAVmzlmyBJe2YhWYJOB4IE8NVFcsLHTenfTFTI6H2W9A9tZZc02efQY+3Nh5suMHTtxEBY4LV2nljsxtJbAW3/DI4b3IGUMyfVoePJxGR+lQGshW8564gTSICfKwsukMJQFrzciv/zz47Zh5eEbhaBrMqpLP8G1r4iu0Y6Maib0pfbGi+pXZHxX1g5r3M+Ir7qMSxNmczWPnSgapxZDITkmmq8RifUKu4KEQbNCzphaqswdexMqitDgQW4UWx4P17La4W5ItJ/j86Sm0fyYsgWuKgUZLxB4fjtg1mLiL6WLsl0npC3EHLfCP37Zr6u6JM5v2jjlJVklWrX/yrFCGEm6q5FJgv/9pD9NgO5FA2FuLexZleEmkTfuHOuLcviiUBTceGx8mi6ckQTBUQXTws0dFecx7m4RtMroAHsI6sACXDbBZJCAARaZjcWH580jIrcU0qnYI/H8Prg6f1eAyX+LV6eyA+shzZWh4gBvnvxKoYaJFBRIK0g/8owGGM3LsiDX6bqQG+y56MEWbTjQx+DhIXzW1Q0D+4EcdOMfwwzBxR3Qb0DUvrDbg92tO2Q+LyjnEXGoBI7cdqYi1kok2GkmE03gpHr3ASHHkbauMdp2Frl2lkU=
    spring-datasource-password: AgBP2ncLCPsdWao8VjclCF+fe4QaXn7yI/Qmxw7/LCsIef69+eyykgJ/jKOWUJblolwHqIInXNXsb280DtDIQie2mE9ttfyGbzNXe9FkmWcuECPaGP2qP+5BnokYcreO/L6P7sL9mnAX1suwZRFHvUtk7Yj53n/tzjLmEst2Z+QSJpXqpr4jEjHQQctkn+rMZ2s0IfeNeJL6pPG1ydxGe5KPNamgOoXbS19Qx8GkkB9Lt6pjRbbjFUZa9x4tCKedhs3edzrDHVJho5pjGu4FoGLUFp9O0P/Sl49HeY/M0ipgm05kwTsU8WRTPPYdSN2OJQjGmJHHeuHBehL0reLsyTHW/mqd+5RPGMFqs12rvUgHEyJy3yyC7qBGOwOWIF8Dz4K+/LIvQw3ua/B2BvTsoRbM/7bbcLObJEnfmyt3YWgc8OLY3qcMKCtDnT17yvi+QHhf4msSuKgyLxrAOFLx35vKY/LCmMyDemLC9RWCwpEzyBimjRcyQNPni+bY46a3JuhOHaoQdFF9NNq/BChjRZy4PbPL+YNU3eJ3JWHY7uH9ihpg7xV1UpisFItP8bLHpA1oPp03/1tiRNnzcHUSoJycLFYyB48mCF/txFOT2zA+wtyyGzj/cJ2Dy96u5+0ObelMw7b2WjKYg0A9ylnE9hv6v0O/z6MtfqrjTDZ7WawCAnqNEngfvcsy7EPOI3MZQLQZyEKzJEj/JBbted/wJCv8

ingress:
  enabled: false
  className: ""
  hosts: []

