# Environment-specific values for Prometheus in dev

fullnameOverride: "prometheus"

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

config:
  global:
    scrape_interval: 15s
    evaluation_interval: 15s
  scrape_configs:
    - job_name: prometheus
      static_configs:
        - targets:
            - localhost:9090
    - job_name: spring-boot-services
      metrics_path: /actuator/prometheus
      static_configs:
        - targets:
            - auth.auth-dev.svc.cluster.local:8080
            - gestao-de-alunos.gestao-de-alunos-dev.svc.cluster.local:8080
            - gestao-de-professores.gestao-de-professores-dev.svc.cluster.local:8080

