image:
  repository: distrischooldevacr.azurecr.io/microservice-student-management-service
  tag: "latest"

imagePullSecrets:
  - name: acr-secret

replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: ENVIRONMENT
    value: "dev"
  - name: LOG_LEVEL
    value: "DEBUG"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"
  - name: SPRING_REDIS_HOST
    value: "redis.infrastructure-dev"
  - name: SPRING_REDIS_PORT
    value: "6379"
  - name: SPRING_REDIS_PASSWORD
    value: ""
  - name: KAFKA_BOOTSTRAP_SERVERS
    value: "kafka.infrastructure-dev:29092"
  - name: SERVER_PORT
    value: "8080"
  - name: GRPC_SERVER_PORT
    value: "9090"
  - name: ALLOWED_ORIGINS
    value: "*"
  - name: MAX_LOGIN_ATTEMPTS
    value: "5"
  - name: ACCOUNT_LOCK_DURATION
    value: "30"
  - name: PASSWORD_RESET_TOKEN_EXPIRATION
    value: "2"
  - name: EMAIL_VERIFICATION_TOKEN_EXPIRATION
    value: "24"
  - name: SPRING_FLYWAY_ENABLED
    value: "true"
  - name: SPRING_FLYWAY_LOCATIONS
    value: "classpath:db/migration"
  - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
    value: "true"
  - name: AUTH0_ENABLED
    value: "true"
  - name: AUTH0_CONNECTION
    value: "Username-Password-Authentication"
  - name: ACR_REGISTRY
    value: "distrischooldevacr.azurecr.io"
  - name: NEXT_PUBLIC_API_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80"
  - name: NEXT_PUBLIC_AUTH_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/auth"
  - name: NEXT_PUBLIC_STUDENT_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/students"
  - name: NEXT_PUBLIC_TEACHER_SERVICE_URL
    value: "http://distrischool-api-gateway-dev.api-gateway-dev:80/api/teachers"

secrets: []
sealedSecrets:
  enabled: true
  secretName: "gestao-de-alunos-dev-secrets"
  data:
    auth0-domain: AgBN2L4vOLxGh1npDUFgdEdXIemyzucC5zW0CxDyuQpBqJWV2gN41LtoTPBWiHQ+18Ayt1+RU7leDRWRSZPf9S0Zxjgrfs/RnXpUBdO6Z1N903WA98sQQGwwpwMTY65YwKHEg9E72AG34AQH4RBR7uG+933Karwh9uGeWfISirXWfmIAcbzRh5p5oo56Aa8pgDlK2IpZXroArYtgyXDj/ElebzY9YiJv6+JTc41Bzc8GGEaA1agU2Uir2Hs98Tc5W7CrfLCwDdSXe3K8X/tAmjBIoAxs1vlmwZ2L9M1OkhhVAYy0mGruMBAw97412dZ0fl08FU40ECT6ShXNcJa8m0GVEz75YOnzLFJzFL+XT+sXKfR55Cozf99B+uQNRyQGJTU0EZDVZojJFc4b4UN93LG/VFVNktXWghWetIe4NamVdso5yjxQ0d/ZD+vMIyx4iFCTdPG8sWdi7cUDjmjRd84+PFGgFFEmAxW/32Du6ngFWDKzRGalVrjJVlQe2G7ZoWMVYcuxe2jKWKgvfIheVHucGsnBGBnG4emIdf0tBzOBlNN0YgEgfdRHVtFUw2iHwWgvnwHsMkBiWbh1vbBoCQOnQU076HcV5bx7cgs76Dz96kcBF46e1lYxfZZB6V/jHam1QPob0a8PtGjw0l+Lt0IGqbN9v2S6TynbmccLIa0rRxguAfcjt6XE7hqBOx9riROxs5kMbmd/av4STYWys0iXclyRc6etAK3wnRhM7amRnyE=
    auth0-client-id: AgCDF9Nd+ai7Tev4+i+YRh/QhOJioYvS31bftQTeZqv637sNr1TFfs1WPGVrxIQsQuK7UTbCZOHRG3AXopAb4AgBYEQjKDAZ94HXRS4xvoXP9QfP4g5imNPczdGLvgMcKlR5n1MzTpwFvChj1Naz2H5HyWVd3elBRMYqnINFEhZWtPJ/CkTAazFarMDyHByaufhR6GPvOSsxXXfGhdNYwBvUG5ij2KC3TxQ5dJ9/6sxEXVk/lj9G1IA8b4XYYHSVTtLn1lNDM7Qj3Bl1uaIAsgbln/7tA1Rz7eP7CF4PyafUuRJ+kpAZ+6KRW9KVjLq5r7fo7tWlplaYmmPcVb69BHWey509oqRuxS3ygyFzlDs+U6quiX3KEkzoTs3cumuY/sluhR35eTKa7ecpFQBb1MArAB3M0EXOtHSDhUphfnK+RMbreWY/mDZwe0CnxqyJ4vtDTlJtqXd6iUt6h/ms6DVQ38umbg5e2a1M1prgM0UuzQoKjxi37pnLIoCYuDFwFKHROCahcKYGeupruDeLpKcsjO+b/Uur/S+AG1zXovsrp1Hz1H1RBFbqCbo/fF7w9FkTcotNtvOKTMtvCLr2OkalKu7G9mor4utP5KSu/ffH20r+jGobH43VZ1MLCUyMdL4cOXzuYc07skF2v5OkJ2WDDZbwLsFfBPpIcUJdTEchxwFkGTlSIwoQ6NCejY0U/ydSAvEYW8K+3r8oeOLAedsyn4qpqIuC7PXM9yvy4PaCGg==
    auth0-client-secret: AgCwmEBiZHMCfI2WAmrPMwq0yzHADDp4Dkvizm/M35EBrTRAuBK/FZVpNRCQ09d8Wyc138txNAmqb/3YVjGVrY5jVIiX4609U5QUPrdUwnlKztf18yjo/huA5DwdZvJ8r9d+vvQGeBSG3tyqknW8KWjxzpscE7j+7WI92CvOvksCxnPMJOb+nz8lmU2nvu+ucaKsR1XjMauCVIxiy+gV1d1pESDLuN/educ7fpXvKOJ4JcGSPy7MjAKNfUACUrSOq/FdFFM9+0TDSjgdCjRgU7Ogg4NOyN3twMOwx+2C0N0QLcwhS63V+JvyGEZM6hmIkkMNz3ijocHnTsFfBzciNBzm7C2b4F1qJ7fqF4zb4sjJkdVIc7cEjzsMcyv6y9oKjfqIUGOD347n8evjmBEzWeB1X9d0qHsvgbiC9kMRIFnJAtjWfjlnklfHtbSPwrcLGtI7WUiBe8Ytmgfl0deqzvYp4EkluqzKJDTx5OBLl6OeqwTn+owimCYDwmB3Ni8WB8/uvzXSDWE4XYwxCDDrTtS0VJFVyQp9M2GcKIZ6TuaF+M6AWoGNHCRELNcTfo7bUUCdfkIG+bLEagAtmrSiU/JJzcdcuQsAJRcYaneH28VRTj9B7FAY4WVDEgv/Kysp4VQS3lKNDBYvwn1Wc+r+pn1ssMUMaPz6TQ6//UCe+x+Pt9NeThWziljn/I9Q36gXDcuYAWmy64+VVaaeIVJmy+l88y+bqNZPhIoTYKQ52G9MrJN2Md0auubOReEfBOvr1CU6aQ+jdj9hThrKgOLdeESh
    auth0-audience: AgAMvebXHFJKM12TCc+4+ld9y5vB0V5gzFIq5AWKm2EvedzKdq9BYGrxkmzX/Xf7pXhh5HP2qVX4+CRgdh3QvY7jsjzDgJtgJjgF/iXXbGos7OJD6wNBlUTuE+2IM2V7ILhABLzykTUf30LL6loG6yED2M73BNZiRHZp09/ll7kklQsjhzQ+qBRn64xQD0dVrrQhxTeuYXpeNQFl4KRSv/STI8YwdEPkjHEajTkIZ0NFRS/DTJZc2Gy9X7/Vnqu+3bWiwEdcOnDWIGivytX/ox8IN1n+84r1we4BLvDUntYIVpBz0WeVNFeNVBIfBnx1JZ+VEJoK9kS9fn1qlbk062tUkh9p8EG2/8NyZ/UnlVVtN7K0FDuPTQ1+Fom0es3XAmTTI0/emmF2ypY/hfiOHyBYlMqDspu29mjo58aywr+pUJMRReNne+mVlQA572V7GODxPX/rf/yHSV5LvNdE1wzQok+aIlSvjkwKeDlEZmyg+hrZsJutbetixdRkZHRUBP4JevY3BXD6qs8f7mJDDh34tG9hgT4Zok/LvmXX7FiEFuhJuMnIlcOnewEZfpyuKCGrET00pl3c3xJ0QlIPWSPddaD7+urYRhh/aR7FF3MubmJcPZlPJ7SbGtjofcX3PD/zRAf5lcapC2fzxfZZVpzI7yB72FE/dFvX07jUqe5GSmRXCXlFzn09L1DSyIdeDaeCVzQBD8n206nWilU7VTzm7h4GlvQpbjgpicDL
    spring-datasource-url: AgB9LYETdDqasQ8eAvwQcLsDt8bxGu+TTblSHcs4fj12DN8fQZy/VplVi3RsWKpfAx1QL1RIhkRcrwvOLM3BArwjNbyrs5wvcrLi4Hzv0Zizczq03NE/dxaWnx6h8aPDDmiSMDIVdrSmhSkHrjm4AlQ9CE1bpbBcLjoheFdP5+63PJskH+L9CMkFwPF6/EanBiJP1KvrXVvBgL93oEN5mPGcuqMZUFkiGYdHXXopay/CISw1BieAxoMlkxoWQlztUD21L3COKOl9Ba5dlo263LDNg28WIAHDWuadbNUWMMyLk1uxJNjFXsmhpt/IBCZXrsRaP3wbyA/NMlLc3NDFpnXdoUvcSFd/+srBCtQb5iI2PQWqa0lZ8De3YSv+7pWIcWl/vi56M0ORH5tpHhNfNBoJ+VGiove1n2T1Wx2jKKI/bZsTvn/zAb4vdETUAvSAeyBFOh4vKMuBUXrMqMcFL3FyGQN1hBK6ftR55/Z5tI9CLRLoI2wK/byUbHOjX4+9bqlFj4ic2Y9VbYrQdmgpnofm6+fa1Fu8nadp2pZWw1I6GAkAuR6HBAC/tRvWsJDmRRucx66aBAfDLJm//wteHdamj+8gbaPtS+f37Im6fnv+XPypgdxb6JLf1Zi6v/4FK90sqzLx53maTW4RkdE9/Z71LHZfFtJp/dFNng92pLUvDaENqI4h3dRqJQfdLmH1pPpPTsr4Q5/wqyCsVypZA7g0/DRdrBQsb4s/sd6iqjf494/ZpwE1NVlkBFKAUMJoPIl/9PtxFhogY3BTeV3VJ/AmSgAXBO1Y6vE2d/+otRJyu0ex2KzfPUvuBTWz1Q==
    spring-datasource-username: AgAY6JUtrJSoiKeHxYEf+ORNcUXzVTCtAJldG0/bCc8LeJoxLB8sZbgLaMe3MckWCDwh+xzp9QIOO5Ob3sZolhWVlhGkKPyw0JB+61+xvCe4Byf5tPUKRDE2qzcqqlEWf//K8b33mLSq1V4DTnQJ5zy96kYeJ5ViTpgK0a7zyK8T7TDVQ/IWA7YqJ9QP1lBIPGgP4BV8tNQctiKzaNR6qSWT/I6XUr8d9azFeMJ+LOPJEtCwNbIsE7DZuy5k9T/R1mRg7t4gP+yjyCzTw8VLeXa2DkHiJ6yy/w/C+P5JiTdkXxZZZsTjEL0gSNxYwMGaja38K3x7mTzymsMDl3parALTrQj4m4gSBDB4pe0VC2EDYYokGFTXApSAyM7D74ZUZBWFfiWDUrpToTBQf+rpFMBVy9QAoGqrq7kkSc14gzVOj0fhMQu4JoCkFDxf6PKvf9IQXXIoWAocqGewd3S7Dsrccf31+mnmClHGHjcukkkWdLCcNWChZsEEQnMKCrkSmQs5jRCPODdwCQJd9K8GgdWzu6S0uMRcSX/F2pftjFBIyl9XwLJHF36/EUat+ufMmpjWDSCauaoPysr8IjVoCzWfK6CYRtysrDeqj2EgIFnYRhsno8J7aHeWtFTbzfTGKf5xxFMbvFLnNS8YC6OnUcQK1DJY1/bx0V7haRARqVCIzetIDFe7zWAQGbPav1WtbHIdvzFNF/FyIqDa++w=
    spring-datasource-password: AgBuTxwbmv/bd2EOe/bzuFOPJ8G291FjHcfOagoEs825fpL2nD3UHYVfItWMeVIyiGi0oVowsAd55PghDvEEkPRhDZNIQmiik5iRzYAJI/6kv9Ly+YTrfvz9Cl4kAxNiKtAJDQC3hAuq7wfMaLE0W7u7amO5FmpwHaA69hka4DOw1ubprvgtZfcmEtlwTvMsPW9dRRpICwWC4vaU+jX8DqnQxd1ybJHYUqy93deR6iFeud3s7RIiM8Gca5bdmDtxpOfRZUk+6qBzdH/HmhhOYEceiEh+KmtuCrnsK0ASqt/LtqDLgsniAG8FciGMNXRrFE++bLOL1e8wZ1OIRjVgPoaVD+35ipqJw1JhTAJnr+9ZjIBJ/GJdFfbKRJvN81Z9Ls0Bs1aXbnVA+4mqbfnehKnWNKsY5jkA46wNJAgkdF+80f+gon3AmfycTIE6H+4hC5aZPpLC6VoXJPwqBJ+YgXO9yVRxgP4ktFrX8GBcak8yjqR9vUlSbUWogcNonk1QQ7XWjVn8eG1JkUzbTtsEfqIJVUm2XSpYps/cjKqV4wU2Ip4IYt1HWySi2PwcoLezpR8RRoS64cWuD3o2EbjCO59jPvHyIhZ0nJa466TD/KQ7tYZrnfpj/hezev8yv1aQoD9TOHOLLSH/iIItg54g6QNpMHw/8WZ2CLxe9ASiZYabH/TCW3MbljPT1IGD6b3RzLqxwCn7jpdYx/iRbPEpzRQO

ingress:
  enabled: false
  className: ""
  hosts: []

